xbody.section-memberlist h2.memberlist-title,
body.section-memberlist form#viewprofile {
	/*display: none;*/
}

#pg_social_container {
	position: relative;
	display: inline-block;
	width: 100%;
}

#pg_social_container #pg_social_containerL {
	display: inline-block;
	width: 70%;	
	vertical-align: top;
}

#pg_social_container #pg_social_containerR {
	display: inline-block;
	width: calc(30% - 10px);	
	padding-left: 10px;
	vertical-align: top;
}

#pg_social_container #pg_social_containerR #pg_social {
	margin-top: 0px;
}

#pg_social_container #pg_social_containerR #pg_social #pg_social_cont {
	width: 100%;
	padding: 0px;
}

#pg_social_container #pg_social_containerR #pg_social #pg_social_cont ul#posts_status {
	overflow-y: auto;
}

#pg_social_container #pg_social_containerR #pg_social #pg_social_cont ul#posts_status::-webkit-scrollbar {
    width: 0.7em;
}

#pg_social_container #pg_social_containerR #pg_social #pg_social_cont ul#posts_status::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
}

#pg_social {
	margin-top: 10px; 
	text-align: left;
	font-size: 10px;
}

#pg_social * {
	outline: none;
	border: 0px;
	list-style: none;
	resize: none;
}

#pg_social *:hover {
	text-decoration: none;
}

#pg_social img {
	max-width: 100%;
}

#pg_social .panel {
	/*background-color: rgba(0, 0, 0, 0.08);*/
	width: calc(100% - 20px - 2px);
	margin: 0px 0px 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid transparent;
}

#pg_social #pg_social_sidel .panel,
#pg_social #pg_social_sider .panel {
	background-color: #fff;
	border-color: #ccc;
}

#pg_social #pg_social_sider .panel h3 {
	position: relative;
	display: inline-block;
	width: calc(100% - 15px);
	margin-bottom: 15px;
	padding: 0px 5px 5px 10px;
	border-bottom: 1px solid #cfcfcf;
	text-align: right;
	font-size: 1.6em;
}

#pg_social #pg_social_sider .panel h3 i.icon.fa {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 2px 0px 0px;
}

#pg_social #pg_social_sider .panel:hover h3 i.icon.fa {
	display: block;
}

#pg_social #pg_social_pageprofile {
    position: relative;
}

#pg_social #pg_social_header {
	position: relative;
	background-color: rgba(0, 0, 0, 0.2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 280px;	
	border-radius: 4px 4px 0px 0px;
}

#pg_social #pg_social_header img#coverdrag {
	width: 100%;
}

#pg_social #pg_social_header.canMove {
	z-index: 50;
}

#pg_social #pg_social_header h2.memberlist-title .icon {
	vertical-align: middle;
	margin-right: 5px;
}
#pg_social #pg_social_header #pg_social_actionprofile {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 15px 10px;
	text-align: right;
}

#pg_social #pg_social_header #pg_social_actionprofile .action_profile:not(:empty) {
	margin-top: 10px;
}

#pg_social #pg_social_header #pg_social_actionprofile #profile_upload {
	position: relative;
    display: inline-block;
}

#pg_social #pg_social_header #pg_social_actionprofile input[type="submit"],
#pg_social #pg_social_header #pg_social_actionprofile label,
#pg_social #pg_social_header #pg_social_actionprofile a {
	position: relative;
	display: inline-block;
	background: linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
	margin: 0px 0px 0px 5px;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

#pg_social #pg_social_header.canMove #pg_social_actionprofile .action_profile {
	display: none;
	position: relative;
	z-index: -1;
}

#pg_social #pg_social_header #pg_social_actionprofile label input[type="file"] {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 4px;
	cursor: pointer;
}

#pg_social #pg_social_header #pg_social_actionprofile input[type="submit"] {
	display: none;
	background: linear-gradient(180deg, #2a6496 0%, #224f77 100%);
    margin: 0px 0px 10px auto;
    color: #fff;
}

#pg_social #pg_social_header #pg_social_actionprofile a.page_list_buttonLike {
	padding: 0px;
}

#pg_social #pg_social_header #pg_social_actionprofile a.page_list_buttonLike span {
    display: block;
    padding: 10px;
    border-radius: 4px;
}

#pg_social #pg_social_header #pg_social_actionprofile a.page_list_buttonLike span.likepage {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#pg_social #pg_social_header #pg_social_actionprofile a.page_list_buttonLike:hover span {
	background-color: #f2f2f2;
	color: inherit;
}

#pg_social #pg_social_main {	
	position: relative;
}

#pg_social #pg_social_main > .profile_avatar {
    position: absolute;
    top: -145px;
    background-color: #fff;
    width: calc(15% - 10px - 1px);
    margin: 0px 20px 0px;
    padding: 5px;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}

#pg_social #pg_social_main > .profile_avatar img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
	
#pg_social #pg_social_main h2.memberlist-username {
	position: absolute;
	z-index: 40;
	margin: 0px 0px 0px calc(15% + 40px + 2px);
	padding: 5px 0px;
	font-size: 3em;
	font-weight: bold;
}

#pg_social #pg_social_main h2.memberlist-username i.icon {
	vertical-align: middle;
	margin-right: 10px;
	font-size: 14px;
}

#pg_social #pg_social_main ul#pg_social_menu {
	position: relative;
	background-color: rgba(255, 255, 255, 0.9);
	width: calc(100% - 1px);
	margin: 0px 0px 10px;
	border: 0.5px solid #ccc;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	text-align: right;
	font-size: 1.3em;
}

#pg_social #pg_social_main ul#pg_social_menu li {
	display: inline-block;
	cursor: pointer;
	color: #2a6496;
	font-weight: bold;
	text-align: center;
}

#pg_social #pg_social_main ul#pg_social_menu li:last-child,
#pg_social #pg_social_main ul#pg_social_menu li:last-child a {
	border-radius: 0px 0px 5px 0px;
}

#pg_social #pg_social_main ul#pg_social_menu li:hover {
	background-color: rgba(0, 0, 0, 0.35);
	color: #fff;
}

#pg_social #pg_social_main ul#pg_social_menu li a {
	display: inline-block;
	padding: 15px;
}
	
#pg_social #pg_social_main ul#pg_social_menu li:hover a {
	color: #fff;
}

#pg_social #pg_social_main ul#pg_social_menu li.active,
#pg_social #pg_social_main ul#pg_social_menu li.active a {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#pg_social #pg_social_main ul#pg_social_menu li a .break {
    display: inline-block;
    margin-right: 5px;
}

#pg_social #pg_social_main ul#pg_social_menu li span {
	font-size: 0.7em;
}

#pg_social #pg_social_sidel {
	display: inline-block;
	width: calc(20% - 10px);
	padding: 0px 10px 10px 0px;	
	vertical-align: top;
}

#pg_social #pg_social_sidel blockquote#profile_quote {
	position: relative;
    background-color: transparent;
    margin: 0px;
	padding: 5px 5px 20px;
    text-align: center;
    font-size: 1.5em;
}

#pg_social #pg_social_sidel blockquote#profile_quote a#profile_changeQuote {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	font-size: 0.7em;
}

#pg_social #pg_social_sidel ul#profile_menu {
}

#pg_social #pg_social_sidel ul#profile_menu li {
	list-style: none;
	margin: 0px;	
	font-size: 1.1em;
}

#pg_social #pg_social_sidel ul#profile_menu li.memberlist-title {
	margin: 10px 0px 5px;
	padding: 0px;
	text-align: center;
}

#pg_social #pg_social_sidel ul#profile_menu li.memberlist-title h2 {
	font-weight: bold;
	font-size: 1.7em;
}


#pg_social #pg_social_sidel ul#profile_menu li i.icon {
	width: 16px;
	text-align: center;
}

#pg_social #pg_social_sidel ul#profile_menu li h2.memberlist-title {
	text-align: center;
}

#pg_social #pg_social_sidel ul#profile_menu li dt {
	display: none;
}

#pg_social #pg_social_sidel ul#profile_menu li.profile_rank {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0px;
}

#pg_social #pg_social_sidel ul#profile_menu li.profile_rank img {
	margin-bottom: 10px;
}

#pg_social #pg_social_sidel ul#profile_menu li a {
	display: block;
	padding: 5px;
}

#pg_social #pg_social_sidel ul#profile_menu li a i.icon {
	color: #000;
}

#pg_social #pg_social_sidel ul#profile_menu li a:hover {
	text-decoration: none;
}

#pg_social #pg_social_cont {
	display: inline-block;
	width: 60%;
	margin: 0px;
	padding: 0px 0px 20px 0px;
}

#pg_social #pg_social_cont .pg_social_pagesub {
	display: none;
}

#pg_social #pg_social_cont .pg_social_pagesub dl.details {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border: 0px;
	border-bottom: 1px solid #cfcfcf;
}

#pg_social #pg_social_cont .pg_social_pagesub dl.details:last-child {
	border-bottom: 0px;
}

#pg_social #pg_social_cont .pg_social_pagesub dl.details dt,
#pg_social #pg_social_cont .pg_social_pagesub dl.details dd {
	margin-bottom: 10px;
	padding-right: 10px;
}

#pg_social #pg_social_cont .pg_social_pagesub dl.signature {
	display: inline-block;
	width: 100%;
	border: 0px;
}

#pg_social #pg_social_cont .pg_social_pagesub dl.signature h3 {
	display: none;
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #cfcfcf;
	text-align: right;
	font-size: 1.6em;
}

#pg_social #pg_social_cont .pg_social_pagesub dl.signature .postbody {
	width: 100%;	
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_friends li.friend {
	display: inline-block;
	background-color: #fff;
	width: calc(50% - 4px - 10px - 20px);
	margin: 0px 5px 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1.3em;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_friends li.friend a {
	display: block;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_friends li.friend a img.avatar {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_friends li.friend a .friend_username {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 10px - 50px - 10px);
	padding: 0px 5px;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_friends li.friend a .friend_action {
	float: right;
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	font-size: 0.75em;
	text-align: center;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_friends li.friend a .friend_action:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

#pg_social #pg_social_cont ul.template_photos li {
	position: relative;
	display: inline-block;
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(33.33% - 1px - 5px);
	margin: 0px 5px 10px 0px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

#pg_social #pg_social_cont ul.template_photos li:nth-child(3) {
	margin-right: 0px;
}

#pg_social #pg_social_cont ul#pg_social_photos {
	border-top: 1px solid #cfcfcf;
	padding-top: 20px;
}

#pg_social #pg_social_cont ul#pg_social_photos li {
	width: calc(20% - 4px - 5px);
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_gallery li.gallery {
    position: relative;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_gallery li.gallery:after {
	content: ' ';
	position: absolute;
	top: 0px;
	left: 0px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.4) 100%);
	width: 100%;
	height: 100%;
}

#pg_social #pg_social_cont ul#pg_social_photos li img {
    width: 100%;
    height: auto;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_gallery li.gallery a.gallery_name {
	position: absolute;
	z-index: 1;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	padding: 15px;
	color: #fff;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_gallery li.gallery a.gallery_name h5 {
	letter-spacing: 1.3px;
	font-size: 1.45em;
	font-weight: bold;
}

#pg_social #pg_social_cont .pg_social_pagesub ul#pg_social_gallery li.gallery > img {
	width: 100%;
}

#pg_social form#wall_post {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
}

#pg_social form#wall_post > * {
	border: 0px;
}

#pg_social form#wall_post .wall_post_area {
	background-color: #fff;
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 4px;
}

#pg_social form#wall_post #wall_post_text {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	min-height: 40px;
	overflow-y: auto;
	resize: none;
	font-size: 1.1em;
	user-select: text;
}

#pg_social form#wall_post #wall_post_text[contenteditable=true]:empty:before {
	display: block; /* For Firefox */
	content: attr(placeholder);
}

#pg_social form#wall_post.active #wall_post_text {
	height: 50px;
}

#pg_social form#wall_post #wall_post_text span.people_tagged {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1px;
}

#pg_social form#wall_post label#pg_social_wall_post_img {
	position: relative;
    display: inline-block;
	vertical-align: top;
    background: linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
    margin: 0px 0px 0px 5px;
    padding: 11px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #176293;
}

#pg_social form#wall_post select:focus,
#pg_social form#wall_post label#pg_social_wall_post_img:hover,
#pg_social form#wall_post input[type="submit"]:focus {
	background: rgba(0, 0, 0, 0.9);
	opacity: 1;
	color: #fff;
}

#pg_social form#wall_post label#pg_social_wall_post_img input[type="file"] {
	position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
	margin: 0px;
	padding: 0px;
    opacity: 0;
    border-radius: 4px;
    cursor: pointer;
}

#pg_social form#wall_post .wall_post_option {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-top: 15px;
	text-align: right;
}

#pg_social.pg_social_pagepage form#wall_post .wall_post_option {
	width: 100%;
}

#pg_social form#wall_post .wall_post_option > * {
	display: inline-block;
	width: auto;
}

#pg_social form#wall_post input[type="file"],
#pg_social form#wall_post select,
#pg_social form#wall_post input[type="submit"] {
	padding: 10px;
	border-radius: 4px;	
	margin-left: 10px;
}

#pg_social form#wall_post select option {
	background-color: #fff;
	color: #000;
}

#pg_social form#wall_post input[type="submit"] {
	padding: 11px 10px;
}

#pg_social form#wall_post input[type="submit"]:hover {
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
}

#pg_social form#wall_post #pg_social_wall_tag {
	position: relative;
	display: inline-block;
	width: 50%;	
	margin-top: 15px;
}

#pg_social form#wall_post #pg_social_wall_tag ul#pg_social_wall_tag_system {
	background-color: #fff;
	max-height: 34px;
	overflow-y: auto;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

#pg_social form#wall_post #pg_social_wall_tag ul#pg_social_wall_tag_system::-webkit-scrollbar {
    width: 0.5em;
}

#pg_social form#wall_post #pg_social_wall_tag ul#pg_social_wall_tag_system::-webkit-scrollbar-thumb {
    background-color: #000;
	border-radius: 4px;
}

#pg_social form#wall_post #pg_social_wall_tag ul#pg_social_wall_tag_system li.tag_system_search_people {
	display: inline-block;
	width: calc((100% / 2) - 20px - 2px);
	height: calc(34px - 10px);
	padding: 5px 10px;
	cursor: pointer;
}

#pg_social form#wall_post #pg_social_wall_tag ul#pg_social_wall_tag_system li.tag_system_search_people:hover {
	background-color: rgba(43, 101, 151, 0.85);
	color: #fff;
}

#pg_social form#wall_post #pg_social_wall_tag ul#pg_social_wall_tag_system li.tag_system_search_people img.avatar {
	width: 20px;
	border-radius: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

#pg_social form#wall_post #pg_social_wall_tag ul#pg_social_wall_tag_system li.tag_system_search_people .tag_system_search_people_username {
	display: inline-block;
}

#pg_social form#wall_post #pg_social_wall_tag i#pg_social_wall_tag_systemClose {
	display: none;
	position: absolute;
    top: 0px;
    right: -10px;
    background: #fff;
    width: 20px;
    height: 20px;
	border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    line-height: 20px;
    border-radius: 100%;
    text-align: center;
}

#pg_social form#wall_post #wall_post_thumb {
	display: none;
	width: 100%;
	margin-top: 5px;
    text-align: center;
}

#pg_social form#wall_post #wall_post_thumb img#wall_post_thumb_img {
	display: inline-block;
	background-color: #fff;
	max-height: 50px;
	padding: 5px;
	border-radius: 4px;
}

#pg_social #pg_social_cont ul#profile_head_menu li {
	display: inline-block;
	list-style: none;
	margin: -3px 0px;
	padding: 15px 10px;
	text-transform: uppercase;
	cursor: pointer;
}

#pg_social #pg_social_cont ul#profile_head_menu li.active {
	background-color: rgba(0, 0, 0, 0.5);
}

#pg_social #pg_social_cont ul#profile_head_menu li.active a {
	color: #fff;
}

#pg_social #pg_social_cont ul#profile_head_menu li.active:hover a {
	text-decoration: none;
}

#pg_social #pg_social_cont ul#profile_head_content li {
	display: none;
	list-style: none;
	padding: 20px;
}

#pg_social #pg_social_cont ul#profile_head_content li h3 {
	clear: both;
}

#pg_social #pg_social_cont ul#page_activity_show {
	display: inline-block;
	width: 100%;
	text-align: right;
}

#pg_social #pg_social_cont ul#page_activity_show li {
	display: inline-block; 
}

/* POST_STATUS */
#pg_social #pg_social_cont ul#posts_status {
	list-style: none;	
}

#pg_social #pg_social_cont ul#posts_status li.post_status {
	background-color: #fff;
	width: 100%;
	margin: 0px 0px 20px;
	border-radius: 4px;
}

#pg_social #pg_social_cont li.post_status_copy {
	display: none;
	opacity: 0;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head {
	border: 1px solid #ccc;
	padding: 5px 0px;
	border-radius: 4px 4px 0px 0px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author_avatar {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0px 5px;
	padding: 5px;
	border-radius: 100%;
}
#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author > a {
	display: inline-block;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author_avatar img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author {
	display: inline-block;
	vertical-align: top;
	width: calc(75% - 60px - 10px - 6px);
	margin: 0px 0px 0px;
	padding: 5px 0px 0px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author h4 {
	font-size: 1.5em;
	font-weight: normal;
}

#pg_social_containerR #pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author h4 {
	font-size: 1.2em;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author h4 span {
	/*font-size: 0.8em;*/
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author h4 a {
	font-weight: bold;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author .post_status_head_date {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.07);
	margin: 5px 0px;
	padding: 5px;
	border-radius: 4px;
	font-size: 0.75em;
	line-height: 1em;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_action {
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 4px);
	margin: 5px 5px 5px;
	padding: 5px 5px 0px 0px;
	text-align: right;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_action > div {
	display: none;
	background-color: rgba(0, 0, 0, 0.07);
	margin-left: 5px;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head:hover .post_status_action > div {
	display: inline-block;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_action > div:hover {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content {
	padding: 15px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 1em;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content:empty {
	padding: 0px;
	border: 0px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content .post_parent_cont {
	margin: 15px 0px;
	padding: 15px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content .post_parent_info {
	border-left: 4px solid #cfcf;
	margin: 10px 0px 0px;
	padding: 10px 10px 10px 6px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content .post_parent_info .post_parent_author {
	font-weight: bold;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content .post_parent_info .post_parent_date {
	font-size: 0.75em;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content .status_photos {
	margin: 10px 0px 0px;
	text-align: center;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content img.photo_popup { 
	max-width: 70%;
    min-width: 40%;
	max-height: 750px;
	cursor: pointer;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content p.post_status_youtube {
	position: relative; 
	overflow: hidden;
	height: 0; 
	margin: 10px 0px 0px;
	padding-top: 30px;
	padding-bottom: 50%;  
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content.status_center {
	text-align: center;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content p.post_status_youtube {
	position: relative; 
	overflow: hidden;
	height: 0; 
	margin: 10px 0px 0px;
	padding-top: 30px;
	padding-bottom: 50%; 
	border: 1px solid #d7d7d7; 
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content p.post_status_youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content blockquote {
	margin-bottom: 10px;
	padding: 10px;
	text-align: right;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content blockquote:before {
	content: '\f10e';
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer .post_status_like,
#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer .post_status_comment,
#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer .post_status_share {
	display: inline-block;
	vertical-align: middle;
	width: calc(33.33% - 20px - 4px);
	margin: 0px 10px;
	padding: 5px 0px;
	text-align: center;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer div a,
.pg_social_photo #pg_social_photo_social .pg_social_photo_likshare div a {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.3);
	width: calc(80% - 14px);
	margin: 0px;
	padding: 7px;
	border-radius: 5px;
	color: #fff;
	font-size: 0.8em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer div a i.icon,
.pg_social_photo #pg_social_photo_social .pg_social_photo_likshare div a i.icon {
	vertical-align: middle;
	margin-right: 5px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer div a:hover,
.pg_social_photo #pg_social_photo_social .pg_social_photo_likshare div a:hover {
	background-color: rgba(0, 0, 0, 0.9);
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer div.active a i.icon {
	color: #AA0000;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer .post_status_like a i.icon {
	vertical-align: sub;
	margin-right: 5px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments {
	display: none;
	background-color: rgba(0, 0, 0, 0.08);
	width: 100%;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments:empty {
	border-top-color: transparent;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments.active {
	display: block;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment {
	display: inline-block;
	width: calc(100% - 30px);
	padding: 10px 15px 0px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments.active li.post_comment:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
	
#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment:last-child {
	padding-bottom: 10px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment .post_comment_author {
	display: inline-block;
	vertical-align: top;
	width: 30px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment .post_comment_author img.avatar {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment .post_comment_message {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	width: calc(100% - 30px - 10px - 30px);
	margin-left: 10px;
	padding: 9px 15px;
	border-radius: 17px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment.no_comment .post_comment_message {
	width: calc(100% - 30px);
	margin: 0px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment .post_comment_message a.post_comment_profile {
	margin-right: 3px;
	font-weight: bold;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment .post_comment_message .post_comment_action {
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 9px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment .post_comment_message .post_comment_action > div {
	cursor: pointer;
}

#pg_social #pg_social_cont ul#posts_status li.post_status ul.post_status_comments li.post_comment .post_comment_time {
	padding: 5px 15px 0px;
	text-align: right;
	font-size: 0.75em;
}

#pg_social #pg_social_cont ul#posts_status li.post_status form.wall_comment {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.08);
	width: calc(100% - 30px);
	padding: 10px 15px;
	border-radius: 0px 0px 4px 4px;
}

#pg_social #pg_social_cont ul#posts_status li.post_status form.wall_comment > img {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

#pg_social #pg_social_cont ul#posts_status li.post_status form.wall_comment input[type="text"].wall_comment_text {
	width: calc(100% - 30px - 10px - 20px);
	margin-left: 10px;
	padding: 10px;
	border-radius: 20px;
}

#pg_social #pg_social_cont #page_gallery > h5 {
	position: relative;
	margin: 0px 0px 10px;
    padding: 5px 0px 0px;
	text-align: center;    
    font-size: 3em;
}

#pg_social #pg_social_cont #page_gallery > h5 a {
	vertical-align: top;
}

#pg_social #pg_social_cont #page_gallery > h5 a i.icon {
	vertical-align: middle;
}

/* POST_GALLERY */
#pg_social #pg_social_cont ul#posts_gallery {

}

#pg_social #pg_social_cont ul#posts_gallery li.gallery {
}

#pg_social a#page_new_form_open {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #cfcfcf;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

#pg_social ul#pages_list {
	clear: both;
	margin: 0px -5px;
}

#pg_social ul#pages_list li.page_list {
	display: inline-block;
	background-color: #fff;
	width: calc(20% - 3px - 10px - 2px);
	margin: 0px 5px 10px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
}

#pg_social ul#pages_list li.page_list a.page_list_head {
	display: block;
	background-position: center;
	background-size: cover;
	height: calc(180px - 1px);
	border-bottom: 1px solid #cfcfcf;
	border-radius: 4px 4px 0px 0px;
}

#pg_social ul#pages_list li.page_list a.page_list_username {
	display: block;
	margin: 10px;
	font-size: 1.1em;
	font-weight: bold;
}

#pg_social ul#pages_list li.page_list span.page_list_likesCount {
	display: inline-block;
    width: calc(50% - 15px);
	margin: 5px 5px 10px 10px;
	vertical-align: middle;
	font-size: 0.95em;
}

#pg_social ul#pages_list li.page_list a.page_list_buttonLike {
	display: inline-block;
    width: calc(50% - 15px);
	margin: 5px 10px 10px 5px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	cursor: pointer;
}

#pg_social ul#pages_list li.page_list a.page_list_buttonLike span {
	display: block;
	padding: 3px 5px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
}

#pg_social ul#pages_list li.page_list a.page_list_buttonLike span.likepage {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-color: transparent;
}

#pg_social ul#pages_list li.page_list a.page_list_buttonLike:hover span,
#pg_social a#page_new_form_open:hover span {
	background-color: #f2f2f2;
	color: inherit;
	border-color: #cfcfcf;
}

#pg_social #pg_social_sider {
	display: inline-block;
	width: calc(20% - 10px);
	padding: 0px 0px 10px 10px;
	vertical-align: top;	
}

#pg_social #pg_social_sider ul li.friend,
#pg_social #pg_social_sider ul li.birthday {
	display: inline-block;
	width: calc(50% - 20px - 2px);
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

#pg_social #pg_social_sider ul li.birthday {
	text-align: center;
}

#pg_social #pg_social_sider ul li.friend:nth-child(-n+2),
#pg_social #pg_social_sider ul li.birthday:nth-child(-n+2) {
	padding-top: 0px;
}

#pg_social #pg_social_sider ul li.friend:nth-last-of-type(-n+2),
#pg_social #pg_social_sider ul li.birthday:nth-last-of-type(-n+2) {
	padding-bottom: 0px;
	border-bottom: 0px;
}

#pg_social #pg_social_sider ul li.friend a:first-child,
#pg_social #pg_social_sider ul li.birthday a:first-child {
	display: block;
}

#pg_social #pg_social_sider ul li.friend img.avatar,
#pg_social #pg_social_sider ul li.birthday img.avatar {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-bottom: 3px;
}

#pg_social #pg_social_sider ul li.friend .friend_username,
#pg_social #pg_social_sider ul li.friend .friend_action {
	text-align: center;
}

#pg_social #pg_social_sider ul li.friend .friend_username span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#pg_social #pg_social_sider ul li.friend .friend_action {
	background-color: #fff;
	width: calc(100% - 2px);
	margin: 5px 0px 0px 0px;	
	padding: 4px 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	font-size: 0.8em;
}

#pg_social #pg_social_sider #sid_last_topics ul li.posts {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;	
}

#pg_social #pg_social_sider #sid_last_topics ul li.posts a.post_topic {
	display: inline-block;
	width: 100%;
}

#pg_social #pg_social_sider #sid_last_topics ul li.posts span.posts_time {
	font-size: 0.85em;
}

form#page_new_form input[type="text"] {
	width: calc(100% - 10px - 15px);
	margin: 0px 5px 10px;
	padding: 7.5px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
}

form#page_new_form input[type="submit"] {
	background-color: #fff;
	width: calc(60% - 10px - 2px);
	margin: 0px 20%;
	padding: 5px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
}

form#page_new_form input[type="submit"]:hover {
	background-color: #cfcfcf;
}

.phpbb_alert.pg_social_photo {
	top: 0px;
	width: calc(100% - 30%);
	height: calc(100% - 10vh);
	margin: 5vh 15%;
	padding: 0px;
	border: 0px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li#pg_social_photo_img_close {
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 15px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img {
	position: relative;
	display: inline-block;
	background-color: #000;
	vertical-align: middle;
	width: calc(100% - 360px);
	height: 100%;
	text-align: center;
	overflow: hidden;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img img {
	position: absolute;  
    top: 0px;  
    bottom: 0px;  
    left: 0px;  
    right: 0px;  
	vertical-align: middle;
    width: auto;
    height: auto;
	max-width: 100%;
	max-height: 100%;
    margin: auto;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_sidePre,
.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_sideNex {
	position: absolute;
	top: 0px;
	width: 21%;
	height: 100%;
	right: 0px;
	text-align: right;
	cursor: pointer;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_sidePre {
	left: 0px;
	text-align: left;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_sidePre:hover {
	background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgb(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%);
	background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%);
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_sideNex:hover {
	background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.70) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgb(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.70) 100%);
	background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.70) 100%);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.70) 100%);
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_sidePre i,
.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_sideNex i {
	opacity: 0;
	position: relative;
	top: calc(50% - 25px);
	width: 50px;
	height: 50px;
	margin: 0px calc(40% - 25px);
	font-size: 5em;
	color: rgba(255, 255, 255, 0.2);
	overflow: hidden;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side:hover #pg_social_photo_sidePre i,
.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side:hover #pg_social_photo_sideNex i {
	opacity: 1;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_img_header {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 30px 0px 0px 30px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_img_header h5#pg_social_photo_name_album {
    font-size: 2.2em;
    font-weight: normal;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side #pg_social_photo_img_header h5#pg_social_photo_name_album a {
    color: rgba(255, 255, 255, 0.7);	
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer {
	display: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 0px 15px 15px 0px;
	list-style: none;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side:hover #pg_social_photo_img_header,
.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side:hover ul#pg_social_photo_img_footer {
	display: inherit;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li {
	position: relative;
	display: inline-block;
	margin: 5px;
	padding: 2px 0px;
	border-bottom: 1px solid transparent;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	font-size: 1.2em;
	cursor: pointer;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li:hover {
	border-color: rgba(255, 255, 255, 0.5);
}
.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li > i.icon {
	display: none;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li ul#pg_social_photo_img_options {
	position: absolute;
	bottom: 100%;
	right: 0px;
	display: none;
	background: #fff;
	width: 150px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	list-style: none;
	color: #000;
	font-size: 0.85em;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li:hover ul#pg_social_photo_img_options {
	display: inherit;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li ul#pg_social_photo_img_options li {
	display: block;
	width: 100%;
	margin: 0px;
	color: inherit; 
	text-shadow: 0px 0px 0px transparent;
	white-space: nowrap;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li ul#pg_social_photo_img_options li a {
	display: block;
	padding: 5px 0px;
	cursor: pointer;
	color: #000;
}

.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li ul#pg_social_photo_img_options li a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
	color: #fff;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	width: 360px;
	height: 100%;
	padding: 0px;
	overflow: hidden;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social > img {
	display: inline-block;
	vertical-align: top;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: calc(50px - 15px);
	margin: 15px 7.5px 0px 15px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social #pg_social_photo_info {
	display: inline-block;
	height: calc(50px - 15px);
	margin: 15px 0px 0px 7.5px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social a.author_profile {
	font-size: 1.35em;
	font-weight: bold;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social span.photo_time {
	display: block;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social p.photo_desc {
	display: inline-block;
	width: calc(100% - 30px);
	height: calc(30% - 40px - 30px);
	margin: 0px !important;
	padding: 15px;
	font-size: 1.3em;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social div.pg_social_photo_likshare {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	width: calc(100% - 10px);
	height: calc(40px - 10px - 1px);
	padding: 10px 5px;
	border-top: 1px solid #cfcfcf;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social div.pg_social_photo_likshare > div {
	display: inline-block;
	width: calc(50% - 10px - 2px);
	padding: 0px 5px;
	text-align: center;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social div.pg_social_photo_likshare .social_photo_like a {
	display: inline-block;
	padding: 7px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social .pg_social_photo_likshare div a i.icon {
	margin-right: 5px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social #pg_social_photo_comment {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.08);
	width: 100%;
	height: calc(70% - 60px);
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments {
	display: inline-block;
	width: calc(100% - 10px);
	height: calc(100% - 50px - 10px);
	margin: 5px;
    overflow-y: scroll;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments::-webkit-scrollbar {
    width: 0.5em;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments::-webkit-scrollbar-thumb {
    background-color: rgba(85, 132, 219, 0.2);
	border-radius: 4px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments:hover::-webkit-scrollbar-thumb {
    background-color: rgba(85, 132, 219, 0.6);
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments:empty {
	border-top-color: transparent;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment {
	display: inline-block;
	width: calc(100% - 10px);
	padding: 10px 5px 0px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment:last-child {
	padding-bottom: 5px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment .post_comment_author {
	display: inline-block;
	vertical-align: top;
	width: 30px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment .post_comment_author > img {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin: 0px;
	border-radius: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment .post_comment_message {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	width: calc(100% - 30px - 10px - 30px);
	margin-left: 10px;
	padding: 9px 15px;
	border-radius: 20px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment.no_comment .post_comment_message {
	width: calc(100% - 30px);
	margin: 0px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment .post_comment_message a.post_comment_profile {
	margin-right: 3px;
	font-weight: bold;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment .post_comment_message .post_comment_action {
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 9px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment .post_comment_message .post_comment_action > div {
	cursor: pointer;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments li.post_comment .post_comment_time {
	padding: 5px 15px 0px;
	text-align: right;
	font-size: 0.75em;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social form.pg_social_photo_comment_form {
	display: inline-block;
	background-color: #fff;
	width: calc(100% - 20px);
	height: calc(50px - 20px);
	margin: 0px;
	padding: 10px;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social form.pg_social_photo_comment_form > img {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 100%;
	margin: 0px;
	border-radius: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.phpbb_alert.pg_social_photo #pg_social_photo_social form.pg_social_photo_comment_form input[type="text"].pg_social_photo_comment_text {
	width: calc(100% - 30px - 20px - 10px - 2px);
	height: calc(100% - 2px);
	margin-left: 10px;
	padding: 0px 10px;
	border: 1px solid #cfcfcf;
	border-radius: 20px;
	outline: none;
}

a.profile_signature_status {
	float: right;
}

#pg_social .pg_social_alert {
	background-color: #fff;
	width: calc(100% - 20px - 2px);
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #cfcfcf;
	text-align: center;
	border-radius: 4px;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: red;
}

#pg_social .ads {
	border-color: #cfcfcf;
	margin-bottom: 10px;
	text-align: center;
}

@keyframes post_fade {
    from {
		transform: scale(0.95); 
		opacity: 0;
	}
    
	to {
		transform: scale(1); 
		opacity: 1;
	}
}


@media screen and (max-width: 750px) {
	#pg_social {
		display: flex;
		flex-direction: column;
	}
	
	#pg_social_container #pg_social_containerL {
		width: 100%;
	}
	
	#pg_social_container #pg_social_containerR {
		display: none;
	}
	
	#pg_social #pg_social_sidel,
	#pg_social #pg_social_cont,
	#pg_social #pg_social_sider {
	    display: block;
		width: 100%;
		margin-bottom: 0px;
		padding: 0px;
	}
	
	#pg_social #pg_social_sidel,
	#pg_social #pg_social_sider	{
		display: none;
		order: 1;
	}
	
	#pg_social #pg_social_cont {
		order: 3;
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head {
		padding: 5px 0px 0px;
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_head_author {
		width: calc(70% - 60px - 10px - 6px);
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_action {
		width: calc(30% - 4px);
		padding: 0px;
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_action > div {
		margin: 0px 0px 0px;
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_action .post_status_privacy span {
		width: 100%;
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_head .post_status_action > div:last-child { 
	
	}
		
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer .post_status_like,
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer .post_status_comment,
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer .post_status_share {
		width: 33.33%;
		margin: 0px;
		padding: 5px 0px;
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer div a,
	.pg_social_photo #pg_social_photo_social .pg_social_photo_likshare div a {
		width: calc(80% - 14px);
	}
	
	#pg_social #pg_social_header {
		background-position: center !important;
	}
	
	#pg_social #pg_social_header #pg_social_actionprofile {
		top: 0px;
	}
	
	#pg_social.pg_social_pageprofile #pg_social_main {
		margin-top: -140px;
	}
	
	#pg_social #pg_social_main > .profile_avatar {
		position: relative;
		top: inherit;
		width: calc(30% - 10px - 1px);
		margin: 70px calc(50% - ((30% - 10px -1px) / 2)) 0px;
		border-left: 0.5px solid #ccc;
		border-right: 0.5px solid #ccc;
		z-index: 0;
	}
	
	#pg_social #pg_social_main h2.memberlist-username {
		position: relative;
		margin: 20px 0px 10px;
		padding: 0px 0px;
		text-align: center;
	}
	
	#pg_social #pg_social_main ul#pg_social_menu {	
		border-top: 0.5px solid #ccc;
		text-align: left;
	}
	
	#pg_social #pg_social_main ul#pg_social_menu,
	#pg_social #pg_social_main ul#pg_social_menu li,
	#pg_social #pg_social_main ul#pg_social_menu li:first-child,
	#pg_social #pg_social_main ul#pg_social_menu li:last-child,
	#pg_social #pg_social_main ul#pg_social_menu li:first-child a,
	#pg_social #pg_social_main ul#pg_social_menu li:last-child a {	
		border-radius: 0px;
	}
	
	#pg_social #pg_social_main ul#pg_social_menu li {
		width: calc(100% / 4);
		text-align: center;
		white-space: nowrap;
	}
	
	#pg_social #pg_social_main ul#pg_social_menu li a {
		font-size: 0.8em;
	}
	
	#pg_social #pg_social_main ul#pg_social_menu li a .break {
		clear: both;
		display: block;
		margin: 0px;
	}
	
	#pg_social #pg_social_main ul#pg_social_menu li a i.icon {
		width: 100%;
		margin-bottom: 5px;
	}
	
	#pg_social form#wall_post .wall_post_option {
		width: 100%;
		text-align: center;
	}
	
	#pg_social form#wall_post label#pg_social_wall_post_img {
		margin: 0px;
	}
	
	#pg_social #pg_social_cont ul#posts_status li.post_status {
		margin-bottom: 20px;
	}
	
	
	#pg_social #pg_social_cont .pg_social_pagesub dl.details dt, 
	#pg_social #pg_social_cont .pg_social_pagesub dl.details dd {
		display: inline-block;
		vertical-align: top;
		width: calc(50% - 2px);
		padding-right: 0px;
	}
	
	#pg_social #pg_social_cont .pg_social_pagesub dl.details dt {
		text-align: right;
	}
	
	
	#pg_social #pg_social_cont #page_gallery > h5 {
		padding: 25px 0px 0px;
	}
	
	#pg_social #pg_social_cont ul.template_photos li {
		width: calc(50% - 1px - 5px);
	}
	
	#pg_social #pg_social_cont ul.template_photos li:nth-child(2) {
		margin-right: 0px;
	}
	
	#pg_social #pg_social_cont ul.template_photos li:nth-child(3) {
		margin-right: 5px;
	}
	
	#pg_social #pg_social_sider {
		order: 2;
	}
		
	#pg_social #pg_social_sider .panel#profile_FriendsRandom {
		background-color: transparent;
		width: 100%;
		padding: 0px;
	}
	
	#pg_social #pg_social_sider ul li.friend {
		background-color: rgba(0, 0, 0, 0.08);
		width: calc(33.33% - 10px - 10px);
		margin: 0px 5px;
		padding: 5px;
		border-radius: 4px;
	}
	
	#pg_social #pg_social_sider ul li.friend:last-child {
		padding-bottom: 5px;
	}	
	
	#pg_social #pg_social_sider ul li.friend img.avatar {
		
	}
	
	#pg_social #pg_social_sider ul li.friend .friend_username, 
	#pg_social #pg_social_sider ul li.friend .friend_action {
		float: none;
		vertical-align: middle;
	}
	
	#pg_social #pg_social_sider ul li.friend .friend_username span {
		text-align: left;
	}

	.phpbb_alert.pg_social_photo {
		top: 0px;
		width: 100%;
		height: 100%;
		margin: 0px; 
		padding: 0px;
		overflow: hidden;
	}		
	
	.phpbb_alert.pg_social_photo #pg_social_photo_img {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0px; 
		padding: 0px;
	}	
	
	.phpbb_alert.pg_social_photo #pg_social_photo_img img,
	.phpbb_alert.pg_social_photo #pg_social_photo_social img {
		max-width: 100%;
	}
	
	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side:hover #pg_social_photo_img_header {
		display: none;
	}
	
		
	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer {
		display: inherit;
		top: 0px;
		right: inherit;
		bottom: inherit;
		width: calc(100% - 30px);
		padding: 15px 15px 0px;
		text-align: left;
	}
	
	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li span {
		display: none;
	}	
	
	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li#pg_social_photo_img_option,	
	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li#pg_social_photo_img_close {
		display: inline-block;
		position: relative;
		margin: 0px;
		padding: 0px;
	}
	
	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li > i.icon {
		display: inherit;
		position: relative;
		margin: 0px;
		padding: 0px;
		vertical-align: top;
		font-size: 2.3em;
	}

	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li#pg_social_photo_img_option {
		float: right;
	}
	
	.phpbb_alert.pg_social_photo #pg_social_photo_img .pg_social_photo_side ul#pg_social_photo_img_footer li ul#pg_social_photo_img_options {
		top: 100%;
		right: 0px;
		height: 30px;
	}
	
	
	.phpbb_alert.pg_social_photo #pg_social_photo_social {
		display: none;
	}
}
