body {
	width: calc(100% - 60px);
}

#pgsocial_chat {
	font-size: 10px;
}

#pgsocial_chat * {
	margin: 0;
	padding: 0;
	outline: none;
	text-align: left;
}

#pgsocial_chat img.avatar {
	background-color: #fff;
	background-position: center;
	background-size: cover;
	border-radius: inherit;
}

#pgsocial_chat .pgsocial_chat {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 275px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	z-index: 40;
}

#pgsocial_chat #pgsocial_chatRoot {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #fff;
	width: 60px;
	height: 100%;
	z-index: 40;
}

#pgsocial_chat #pgsocial_chatRoot.opened {
	width: 275px;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople {
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 60px);
	list-style: none;
	transition: opacity .1s ease-in-out;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople.canchat {
	opacity: 1;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single {
	position: relative;
	padding: 15px 10px;
	cursor: pointer;
}

#pgsocial_chat #pgsocial_chatRoot.opened ul#pgsocial_chatPeople li.pg_social_chat_people_online_single {
	padding: 15px 25px;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author_info {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author_info img.avatar {
	width: 40px;
	border-radius: 100%;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author_info span.pg_socialchat_people_online_single_status {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ff4f60;
	width: 8px;
	height: 8px;
	border: 2px solid #fff;
	border-radius: 100%;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople.canchat li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author_info span.pg_socialchat_people_online_single_status {
	display: block;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author_info span.pg_socialchat_people_online_single_status.online {
	background-color: green;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author_info span.pg_socialchat_people_online_single_tmess {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #e6ecf5;
	width: 15px;
	height: 15px;
	line-height: 13px;
	border: 1px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 0.9em;
	color: #000;
	font-weight: bold;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author {
	display: none;
	margin-left: 10px;
	vertical-align: middle;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}

#pgsocial_chat #pgsocial_chatRoot ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author span.pg_social_chat_people_online_single_author_status {
	font-size: 0.8em;
	font-weight: normal;
	text-transform: uppercase;
	color: #515365;

}

#pgsocial_chat #pgsocial_chatRoot.opened ul#pgsocial_chatPeople li.pg_social_chat_people_online_single .pg_social_chat_people_online_single_author {
	display: inline-block;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext i.fa-th-large {
	display: inline-block;
	vertical-align: bottom;
	background-color: #7c5ac2;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 3em;
	color: #fff;
	cursor: pointer;
}

#pgsocial_chat #pgsocial_chatRoot #pg_social_chat_people_search {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - (60px * 2) - (15px * 2));
	height: calc(60px - (15px * 2) - 1px);
	margin: 0;
	padding: 15px;
	border: 0;
	border-top: 1px solid #e6ecf5;
	font-size: 12px;
	color: #515365;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext i.fa-sliders {
	display: inline-block;
	vertical-align: bottom;
	background-color: #7c5ac2;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 3em;
	color: #fff;
	cursor: pointer;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings {
	display: none;
	position: absolute;
	bottom: 60px;
	left: 0;
	background-color: #fff;
	width: calc(90% - 2px);
	margin: 10px 5%;
	padding: 10px 0;
	border: 1px solid #e6ecf5;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

#pgsocial_chat #pgsocial_chatRoot.opened #pgsocial_chatButton_ext #pgsocial_chat_settings.opened {
	display: block;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings input {
	display: none;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings label {
	position: relative;
	display: inline-block;
	width: calc(100% - 20px);
	margin: 0 0 10px;
	padding: 10px;
	font-size: 1.1em;
	vertical-align: middle;
	cursor: pointer;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings label:last-child {
	margin: 10px 0 0;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings label:hover {
	background-color: #fafbfd;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings label::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 5px;
	border: 1px solid #000;
	border-radius: 100%;
	vertical-align: middle;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings label:hover,
#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings input:focus + label {
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings input:checked + label {
	font-weight: bold;
}

#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext #pgsocial_chat_settings input:checked + label::before {
	background-color: #000;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head {
	background-color: #7c5ac2;
	padding: 10px;
	border-radius: 4px 4px 0 0;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .pg_social_chat_head_status {
	display: inline-block;
	vertical-align: middle;
	background-color: #ff4f60;
	width: 8px;
	height: 8px;
	border: 1px solid #fff;
	border-radius: 100%;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .pg_social_chat_head_status.online_status {
	background-color: green;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .pg_social_chat_head_username {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 10px - 10px);
	font-weight: bold;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .pg_social_chat_head_username a {
	color: #fff;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .pg_social_chat_head_minimize,
#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .chat_close {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	color: #fff;
	font-size: 1.2em;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .pg_social_chat_head_minimize i,
#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .chat_close i {
	cursor: pointer;
}

#pgsocial_chat .pgsocial_chat .pgsocial_chat_head .pg_social_chat_head_minimize {
	display: none;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages {
	display: inline-flex;
	flex-direction: column-reverse;
	overflow: scroll;
	background-color: #fff;
	width: 100%;
	height: calc(200px);
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages::-webkit-scrollbar {
	display: none;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message {
	position: relative;
	display: inline-block;
	width: calc(100% - 15px);
	margin: 5px 7.5px;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message.right {
    text-align: right;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message .pg_social_chat_message_avatar {
	display: inline-block;
	width: 30px;
	margin-right: 5px;
	vertical-align: bottom;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message.right .pg_social_chat_message_avatar {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message .pg_social_chat_message_avatar img.avatar {
	width: 100%;
	border-radius: 100%;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message .pg_social_chat_message_text {
	display: inline-block;
	background-color: #f0f4f9;
	width: calc(80% - 26px - 35px);
	padding: 13px;
	border-radius: 5px;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message.right .pg_social_chat_message_text {
	background-color: rgba(0, 0, 0, 0.65);
	padding: 10px;
	border: 0;
	color: #fff;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message.right .pg_social_chat_message_text a {
	color: #cfcfcf;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message.right .pg_social_chat_message_text:hover a {
	color: #2a6496;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message .pg_social_chat_message_text img {
	vertical-align: middle;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message .pg_social_chat_message_text p.post_status_youtube {
	position: relative;
	overflow: hidden;
	height: 0;
	margin: 10px 0 0;
	padding-top: 30px;
	padding-bottom: 50%;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message .pg_social_chat_message_text p.post_status_youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message .pg_social_chat_message_time {
	display: block;
	width: 100%;
	white-space: nowrap;
}

#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages li.pg_social_chat_message.right .pg_social_chat_message_time {
	text-align: right;
}

#pgsocial_chat .pgsocial_chat form.pg_social_chat_form {
	background-color: #fff;
	border-top: 1px solid #e6ecf5;
}


#pgsocial_chat .pgsocial_chat form.pg_social_chat_form textarea.pg_social_chat_messsage_new {
	display: inline-block;
	width: calc(100% - 20px);
	height: 15px;
	line-height: 15px;
	margin: 10px;
	padding: 0;
	border: 0;
	resize: none;
}

@media screen and (max-width: 750px) {
	body {
		width: 100%;
	}

	#pgsocial_chat #pgsocial_chatRoot {
		width: 40px;
		height: 40px;
	}

	#pgsocial_chat #pgsocial_chatRoot.opened {
		width: 230px;
		height: 100%;
	}

	#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext {
		height: 40px;
	}

	#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext i.fa-th-large,
	#pgsocial_chat #pgsocial_chatRoot #pgsocial_chatButton_ext i.fa-sliders	{
		width: 40px;
		height: 40px;
		line-height: 40px;
	}

	#pgsocial_chat #pgsocial_chatRoot #pg_social_chat_people_search {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - (40px * 2) - (15px * 2));
		height: calc(40px - (15px * 2) - 1px);
		margin: 0;
		padding: 15px;
	}

	#pgsocial_chat .pgsocial_chat {
		width: 225px;
	}

	#pgsocial_chat .pgsocial_chat ul.pg_social_chat_messages {
		height: 190px;
	}
}
