#pg_social .panel {
}

#pg_social #pg_social_header #pg_social_actionprofile label,
#pg_social #pg_social_header #pg_social_actionprofile a {
	color: #176293;
}

#pg_social #pg_social_header #pg_social_actionprofile a.page_list_buttonLike span.likepage {
	background-color: #105289;
}

#pg_social #pg_social_main ul#pg_social_menu li a:before {
	background-color: #2a6496;	
}

#pg_social form#wall_post ul#pg_social_wall_tag_system li.tag_system_search_people:hover {
	background-color: rgba(43, 101, 151, 0.85);
}

#pg_social #pg_social_cont ul#profile_head_menu li.active {
	background-color: #105289;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content .post_parent_info {
	background-color: #CADCEB;
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_content .post_parent_info .post_parent_date {
}

#pg_social #pg_social_cont ul#posts_status li.post_status .post_status_footer {
	background-color: #105289;
}

#pg_social #pg_social_sidel blockquote#profile_quote a#profile_changeQuote {
	color: #105289;
}

#pg_social #pg_social_sidel ul#profile_menu li a {
	color: #105289;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social div.pg_social_photo_likshare {
	background-color: #105289;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social #pg_social_photo_comment {
	background-color: #CADCEB;
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments::-webkit-scrollbar-thumb {
    background-color: rgba(85, 132, 219, 0.2);
}

.phpbb_alert.pg_social_photo #pg_social_photo_social ul.pg_social_photo_comments:hover::-webkit-scrollbar-thumb {
    background-color: rgba(85, 132, 219, 0.6);
}

/*CHAT*/
#pg_social_chat .pg_social_chat ul.pg_social_chat_messages li.pg_social_chat_message.right .pg_social_chat_message_text {
	background-color: #2a6496 !important;
}

@media screen and (max-width: 750px) {
	#pg_social #pg_social_sider ul li.friend {
		background-color: #CADCEB;
	}	
}
