<!-- IF S_PG_SOCIAL_ENABLED -->
<!-- IF not SOCIAL_FORUM -->
<li class="no-bulletin" data-last-responsive="true">
	<a href="{ACTIVITY_PAGE_NAV}" rel="{L_ACTIVITY_PAGE}" title="{L_ACTIVITY_PAGE}" role="menuitem">
		<i class="icon fa fa-users fa-fw" aria-hidden="true"></i><span>{L_ACTIVITY_PAGE}</span>
	</a>
</li>
<!-- ELSE -->
<li class="no-bulletin" data-last-responsive="true">
	<a href="{SOCIAL_FORUM}" rel="{L_FORUM}" title="{L_FORUM}" role="menuitem">
		<i class="icon fa fa-comments fa-fw" aria-hidden="true"></i><span>{L_FORUM}</span>
	</a>
</li>
<!-- ENDIF -->
<!-- ENDIF -->