{% if S_PG_SOCIAL_ENABLED and S_USER_LOGGED_IN %}
	{% INCLUDEJS 'js/cookie.js' %}
	{% INCLUDECSS 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css' %}
	{% INCLUDEJS 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' %}
	{% INCLUDEJS 'js/pg_social.js' %}
{% endif %}
{% INCLUDE 'pg_social_footer.html' %}
{% if PG_SOCIAL_CHAT and S_USER_LOGGED_IN %}
	{% INCLUDE 'pg_social_chat.html' %}
	{% INCLUDECSS 'pg_social_chat.css' %}
	{% INCLUDEJS 'js/pg_social_chat.js' %}
{% endif %}
{% INCLUDECSS 'pg_social.css' %}
{% if PG_SOCIAL_COLOR == 1 %}
	{% INCLUDECSS 'pg_social_blue.css' %}
{% elseif PG_SOCIAL_COLOR == 2 %}
	{% INCLUDECSS 'pg_social_green.css' %}
{% elseif PG_SOCIAL_COLOR == 3 %}
	{% INCLUDECSS 'pg_social_red.css' %}
{% elseif PG_SOCIAL_COLOR == 4 %}
	{% INCLUDECSS 'pg_social_lightblue.css' %}
{% elseif PG_SOCIAL_COLOR == 5 %}
	{% INCLUDECSS 'pg_social_dark.css' %}
{% endif %}
