{% INCLUDE 'overall_header.html' %}
<div style="background-color: #008465; padding: 10px; border: 1px solid; border-color: #E5E6E9 #DFE0E4 #D0D1D5; color: #fff; font-weight: bold; font-size: 3em; text-align: center; text-transform: uppercase;">Work in progress  <a style=" color: #fff; text-transform: lowercase; font-size: 0.6em;" href="https://www.pgreca.it/viewtopic.php?t=3#p4">[<span>what to do</span>]</a></div>
<div id="pg_social" class="pg_social_pageactivity">
	<div id="pg_social_sidel">
		<div class="panel">
			<ul id="profile_menu">
				{% if PROFILE_AVATAR %}<li class="profile_avatar">{{ PROFILE_AVATAR }}</li>{% endif %}
				<li class="memberlist-title"><h2{% if PROFILE_COLOUR %} style="color: {{ PROFILE_COLOUR }};"{% endif %}>{{ PROFILE_USERNAME }}</h2></li>
				<li class="profile-profile_link"><a href="{{ PROFILE_URL }}"><i class="icon fa fa-user fa-fw" aria-hidden="true"></i> {{ lang('READ_PROFILE') }}</a></li>	
				<li class="profile-profile-friends"><a href=" {{ PROFILE_URL }}#friends"><i class="icon fa fa-handshake-o fa-fw" aria-hidden="true"></i> {{ lang('FRIEND', 2) }}</a></li>
				<li class="profile-profile_edit"><a href="{{ PROFILE_EDIT }}"><i class="icon fa fa-cog fa-fw" aria-hidden="true"></i> {{ lang('EDIT_PROFILE') }}</a></li>
				<li class="profile-profile_pages"><a href="{{ PAGES_URL }}"><i class="icon fa fa-book fa-fw" aria-hidden="true"></i> {{ lang('PAGES') }}</a></li>
				{% if PROFILE_QUOTE %}<li class="profile_quote"><blockquote id="profile_quote" style="padding: 5px;">{{ PROFILE_QUOTE }}</blockquote></li>{% endif %}
				<li class="profile_rank">
					{% if PROFILE_RANK_IMG %}{{ PROFILE_RANK_IMG }}<br />{% endif %}
					{% if PROFILE_RANK %}{{ PROFILE_RANK }}{% endif %}
				</li>
			</ul>
		</div>
	</div><div id="pg_social_cont"{% if not PG_SOCIAL_SIDEBAR_RIGHT %} style="width:calc(80% - 20px);"{% endif %}>
		{% INCLUDE 'activity_form.html' %}
		<ul id="posts_status">
			{% INCLUDE 'activity_status.html' %}
			{{ ACTIVITY_NOTHING }}
		</ul>	
		<div id="load_more"></div>
	</div>{% if PG_SOCIAL_SIDEBAR_RIGHT %}<div id="pg_social_sider">
		{% if PG_SOCIAL_SIDEBAR_RIGHT_FRIENDSRANDOM && loops.profileFriends %}
		<div class="panel" id="profile_FriendsRandom">
			<h3><i class="icon fa fa-users fa-fw" aria-hidden="true"></i>{{ lang('PEOPLE_MAY_KNOW') }}</h3>
			<ul>
				{% for profileFriends in loops.profileFriends %}
				<li class="friend" id="friend_{{ profileFriends.PROFILE_ID }}" data-friend="{{ profileFriends.PROFILE_ID }}">
					<a href="{{ profileFriends.PROFILE_URL }}" style="color:{{ profileFriends.PROFILE_COLOUR }}">
						{{ profileFriends.AVATAR }}
						<div class="friend_username">
							<span>{{ profileFriends.USERNAME }}</span>
							{% if profileFriends.PROFILE_FRIEND_ACTION %}
							<div class="friend_action">
								{% if profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS' %}
									{{ lang('PG_SOCIAL_FRIENDS') }}
								{% elseif profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_ADD' %}
								<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ profileFriends.PROFILE_ID }}&request=addFriend" id="profile_friend_add" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_ADD') }}</a>
								{% elseif profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_CANCEL_REQ' %}
								<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ profileFriends.PROFILE_ID }}&request=undoFriend" id="profile_friend_undo" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_CANCEL_REQ') }}</a>
								{% elseif profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_ACCEPT_REQ'	%}
								<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ profileFriends.PROFILE_ID }}&request=acceptFriend" id="profile_friend_accept" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_ACCEPT_REQ') }}</a>	
								<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ profileFriends.PROFILE_ID }}&request=declineFriend" id="profile_friend_declide" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_DECLINE_REQ') }}</a>
								{% else %}
								{{ PROFILE_FRIEND_ACTION }}			
							{% endif %}
							</div>
							{% endif %}
						</div>		
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="panel ads" style="display: none;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- PGreca Social - Sidebar -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-6181929637339131"
				 data-ad-slot="8919244494"
				 data-ad-format="auto"
				 data-full-width-responsive="true"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>	
		{% if loops.friend_birthday %}
		<div class="panel" id="sid_birthday">
			<h3><i class="icon fa fa-birthday-cake fa-fw" aria-hidden="true"></i>{{ lang('BIRTHDAYS') }}</h3>
			<ul>
				{% for friend_birthday in loops.friend_birthday %}
				<li class="birthday">
					<a href="{friend_birthday.PROFILE}">{{ friend_birthday.AVATAR }}</a>					
					{friend_birthday.USERNAME} {% if friend_birthday.AGE %}(<b>{friend_birthday.AGE}</b>){% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% if PG_SOCIAL_SIDEBAR_RIGHT_LAST_POST %}
		<div class="panel" id="sid_last_topics">
			<h3><i class="icon fa fa-plus-square fa-fw" aria-hidden="true"></i>{{ lang('RECENT_DISCUSSIONS') }}</h3>
			<ul>
				{% for last_topics in loops.last_topics %}
					<li class="posts">
						<a href="{{ last_topics.POST_LINK }}" class="post_topic">
							{{ last_topics.TOPIC_TITLE }}
						</a>
						su <a href="{{ last_topics.TOPIC_FORUM_LINK }}">{{ last_topics.TOPIC_FORUM }}</a> - <span class="posts_time">{{ last_topics.POST_TIME }}</span> 
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>{% endif %}
</div>{% INCLUDE 'overall_footer.html' %}