{% for post_comment in loops.post_comment %}<li class="post_comment" id="post_comment_{{ post_comment.COMMENT_ID }}" data-comment="{{ post_comment.COMMENT_ID }}">
	{{ post_comment.POST_ID }}<div class="post_comment_author">
		{{ post_comment.AUTHOR_AVATAR }} 
	</div><div class="post_comment_message">
		 <a class="post_comment_profile" href="{{ post_comment.AUTHOR_PROFILE }}"{% if post_comment.AUTHOR_COLOUR %} style="color: {{ post_comment.AUTHOR_COLOUR }};"{% endif %}>{{ post_comment.AUTHOR_USERNAME }}</a> {{ post_comment.COMMENT_TEXT }}{% if post_comment.COMMENT_ACTION %}<div class="post_comment_action"><div class="post_comment_action_delete"><i class="icon fa fa-times fa-fw" aria-hidden="true"></i></div></div>{% endif %}
	</div>
	<div class="post_comment_time" title="{{ post_comment.COMMENT_TIME }}"></div>
</li>{% endfor %}