<div id="pg_social" class="pg_social_pageprofile">
	<div id="pg_social_header" style="background-image:url({{ PROFILE_COVER }}); background-position: left {{ PROFILE_COVER_POSITION }}px;">
		<div id="pg_social_actionprofile" class="friend_action">
			{% if not PROFILE_ACTION %} 
			{% if PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS' %}
			<a>{{ lang('PG_SOCIAL_FRIENDS') }}</a>
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ PROFILE_ID }}&request=cancelFriend" id="profile_friend_cancel" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_REMOVE') }}</a>
			{% elseif PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_ADD' %}
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ PROFILE_ID }}&request=addFriend" id="profile_friend_add" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_ADD') }}</a>
			{% elseif PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_CANCEL_REQ' %}
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ PROFILE_ID }}&request=undoFriend" id="profile_friend_undo" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_CANCEL_REQ') }}</a>
			{% elseif PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_ACCEPT_REQ'	%}
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ PROFILE_ID }}&request=acceptFriend" id="profile_friend_accept" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_ACCEPT_REQ') }}</a>	
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=requestFriend&profile_id={{ PROFILE_ID }}&request=declineFriend" id="profile_friend_decline" data-ajax="requestFriend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_DECLINE_REQ') }}</a>
			{% else %}
			{{ PROFILE_FRIEND_ACTION }}			
			{% endif %}
			{% else %}
			<div id="profile_upload">
				<input id="profile_upload_submit" type="submit" value="{{ lang('PROFILE_UPDATE') }}" />
				<div class="action_profile">				
					<a id="pg_social_edit_avatar" href="{{ PROFILE_AVATAR_UPDATE }}">{{ lang('PROFILE_AVATAR_UPDATE') }}</a><label id="pg_social_edit_cover">{{ lang('PROFILE_COVER_UPDATE') }}<input type="file" accept="image/*" data-type="cover"></label>
				</div>
			</div>
			{% endif %}
			<div class="action_profile">				
				{% if U_USER_ADMIN %}<a href="{{ U_USER_ADMIN }}">{{ lang('USER_ADMIN') }}</a>{% endif %}					
				{% if U_EDIT_SELF %}<a href="{{ U_EDIT_SELF }}">{{ lang('EDIT_PROFILE') }}</a>{% endif %}	
			</div>
		</div>
	</div><div id="pg_social_main">
		<div class="profile_avatar">{{ PROFILE_AVATAR_THUMB }}</div>			
		<h2 class="memberlist-username"{% if PROFILE_COLOUR %} style="color: {{ PROFILE_COLOUR }};"{% endif %}>{% if S_ONLINE %}<i class="icon fa fa-circle" style="color: #25da2c;" aria-hidden="true"></i>{% endif %}{{ PROFILE_USERNAME }}</h2>
		<ul id="pg_social_menu"><li data-social_menu="activity"><a href="#activity"><i class="icon fa fa-user fa-fw" aria-hidden="true"></i><div class="break"></div>{{ lang('ACTIVITY') }}</a></li><li data-social_menu="friends"><a href="#friends"><i class="icon fa fa-users fa-fw" aria-hidden="true"></i><div class="break"></div>{{ lang('FRIENDS') }} <span>({{ PROFILE_COUNT_FRIENDS }})</span></a></li><li data-social_menu="gallery"><a href="#gallery"><i class="icon fa fa-camera fa-fw" aria-hidden="true"></i><div class="break"></div>{{ lang('GALLER') }}</a></li><li data-social_menu="info"><a href="#info"><i class="icon fa fa-info fa-fw" aria-hidden="true"></i><div class="break"></div>{{ lang('INFO') }}</a></li></ul>
		<div id="pg_social_sidel">
			<div class="panel">
				{% if PROFILE_QUOTE %}<blockquote id="profile_quote">{{ PROFILE_QUOTE }}{% if PROFILE_ACTION %}<a href="{{ PROFILE_UPDATE }}" id="profile_changeQuote">{{ lang('EDIT') }}</a>{% endif %}</blockquote>{% endif %}
				<ul id="profile_menu">
					{% if U_USER_BAN %}<li class="profile-infoRapid"><a href="{{ U_USER_BAN }}">{{ lang('USER_BAN') }}</a></li>{% endif %}
					{% if U_SWITCH_PERMISSIONS %}<li class="profile-infoRapid"><a href="{{ U_SWITCH_PERMISSIONS }}">{{ lang('USE_PERMISSIONS') }}</a></li>{% endif %}	
					{% if AGE %}<li class="profile-infoRapid" id="profileAge"><a class="nolink"><i class="icon fa fa-birthday-cake" aria-hidden="true"></i> <strong>{{ lang('AGE') }}{{ lang('COLON') }}</strong> {{ AGE }}</a></li>{% endif %}
					{% if PROFILE_GENDER %}<li class="profile-infoRapid" id="profileGender"><a class="nolink"><i class="icon fa fa-check" aria-hidden="true"></i> <strong>{{ lang('GENDER') }}{{ lang('COLON') }}</strong> {{ PROFILE_GENDER }}</a></li>{% endif %}		
					{% if U_EMAIL %}<li class="profile-infoRapid"><dt>{{ lang('EMAIL_ADDRESS') }}{{ lang('COLON') }}</dt><dd><a href="{{ U_EMAIL }}"><i class="icon fa fa-envelope" aria-hidden="true"></i>  {{ lang('SEND_EMAIL_USER') }}</a></dd></li>{% endif %}
					{% if U_PM %}<li class="profile-infoRapid"><dt>{{ lang('PM') }}{{ lang('COLON') }}</dt><dd><a href="{{ U_PM }}"><i class="icon fa fa-envelope" aria-hidden="true"></i>  {{ lang('SEND_PRIVATE_MESSAGE') }}</a></dd></li>{% endif %}
					{% if U_JABBER and S_JABBER_ENABLED %}<li class="profile-infoRapid"><dt>{{ lang('JABBER') }}{{ lang('COLON') }}</dt><dd><a href="{{ U_JABBER }}" onclick="popup(this.href, 750, 320); return false;">{{ lang('SEND_JABBER_MESSAGE') }}</a></dd></li>{% elseif USER_JABBER %}<li class="profile-infoRapid"><dt>{{ lang('JABBER') }}{{ lang('COLON') }}</dt> <dd>{{ USER_JABBER }}</dd></li>{% endif %}
					{% for custom_fields in loops.custom_fields %}
						{% if custom_fields.S_PROFILE_CONTACT %}
							<li class="profile-infoRapid">
							<dt>{{ custom_fields.PROFILE_FIELD_NAME }}{{ lang('COLON') }}</dt>
							{% if custom_fields.PROFILE_FIELD_CONTACT %}
								<dd><a href="{{ custom_fields.PROFILE_FIELD_CONTACT }}" target="_blank">{{ custom_fields.PROFILE_FIELD_DESC }}</a></dd>
							{% else %}
								<dd>{{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
							{% endif %}
							</li>
						{% endif %}
					{% endfor %}
					{% EVENT memberlist_view_contact_custom_fields_after %}
					{% EVENT memberlist_view_contact_after %}
					{% if S_PROFILE_FIELD1 %}
						<!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<dt>{{ PROFILE_FIELD1_NAME }}{{ lang('COLON') }}</dt> <dd>{{ PROFILE_FIELD1_VALUE }}</dd>
					{% endif %}
						{% if RANK_TITLE %}<li class="profile_rank">
							{% if RANK_IMG %}{{ RANK_IMG }}<br />{% endif %}
							{{ RANK_TITLE }}
						</li>{% endif %}	
					</ul>
					{% EVENT memberlist_view_zebra_before %}
					{% EVENT memberlist_view_zebra_after %}
			</div>
		</div><div id="pg_social_cont"{% if not PG_SOCIAL_SIDEBAR_RIGHT %} style="width:calc(80% - 20px);"{% endif %}>
			<div class="pg_social_pagesub" id="page_activity">
				{% if PROFILE_STATUS_ACTION %}
				{% INCLUDE 'activity_form.html' %}
				{% endif %}	
				<ul id="posts_status">
					{% INCLUDE 'activity_status.html' %}					
				</ul>
				<div id="load_more"></div>
			</div>
			<div class="pg_social_pagesub" id="page_friends">
				<ul id="pg_social_friends">
					{% INCLUDE 'pg_social_friends.html' %}
				</ul>
			</div>
			<div class="pg_social_pagesub" id="page_gallery">
				{% if not GALLERY_NAME %}
				<ul class="template_photos" id="pg_social_gallery">
					{% for social_gallery in loops.social_gallery %}
					<li class="gallery" id="gallery_{{ social_gallery.GALLERY_ID }}" data-gallery="{{ social_gallery.GALLERY_ID }}" style="background-image:url('{{ social_gallery.PHOTO_COVER }}')">
						<a href="{{ social_gallery.GALLERY_URL }}" class="gallery_name">
							<div class="gallery_count">{{ social_gallery.GALLERY_COUNT }} {{ lang('PHOTOS') }}</div>
							<h5>{{ social_gallery.GALLERY_NAME }}</h5>
						</a>
						<img src="../ext/pgreca/pg_social/images/transpe.gif" />
					</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if GALLERY_NAME %}<h5>{{ GALLERY_NAME }}</h5>{% endif %}
				<ul class="template_photos" id="pg_social_photos">
					{% INCLUDE 'pg_social_photos.html' %}
				</ul>
			</div>
			<div class="pg_social_pagesub" id="page_info">
				{% EVENT memberlist_view_contact_before %}
				{% EVENT memberlist_view_contact_custom_fields_before %}
				<div class="panel">
					<dl class="details">
						{% for custom_fields in loops.custom_fields %}
						{% if not custom_fields.S_PROFILE_CONTACT %}
						<dt>{{ custom_fields.PROFILE_FIELD_NAME }}{{ lang('COLON') }}</dt> <dd>{{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
						{% endif %}
						{% endfor %}
					</dl>
					<dl class="details">
						{% EVENT memberlist_view_user_statistics_before %}
						<dt>{{ lang('JOINED') }}{{ lang('COLON') }}</dt> <dd>{{ JOINED }}</dd>
						<dt>{{ lang('LAST_ACTIVE') }}{{ lang('COLON') }}</dt> <dd>{{ LAST_ACTIVE }}</dd>
						{% if S_WARNINGS %}
						<dt>{{ lang('WARNINGS') }}{{ lang('COLON') }} </dt>
						<dd><strong>{{ WARNINGS }}</strong>{% if U_NOTES or U_WARN %} [ {% if U_NOTES %}<a href="{{ U_NOTES }}">{{ lang('VIEW_NOTES') }}</a>{% endif %} {% if U_WARN %}{% if U_NOTES %} | {% endif %}<a href="{{ U_WARN }}">{{ lang('WARN_USER') }}</a>{% endif %} ]{% endif %}</dd>
						{% endif %}
						<dt>{{ lang('TOTAL_POSTS') }}{{ lang('COLON') }}</dt>
							<dd>{{ POSTS }} {% if S_DISPLAY_SEARCH %}| <strong><a href="{{ U_SEARCH_USER }}">{{ lang('SEARCH_USER_POSTS') }}</a></strong>{% endif %}
								{% if POSTS_PCT %}<br />({{ POSTS_PCT }} / {{ POSTS_DAY }}){% endif %}
								{% if POSTS_IN_QUEUE and U_MCP_QUEUE %}<br />(<a href="{{ U_MCP_QUEUE }}">{{ lang('POSTS_IN_QUEUE') }}</a>){% elseif POSTS_IN_QUEUE %}<br />({{ lang('POSTS_IN_QUEUE') }}){% endif %}
							</dd>
						{% if S_SHOW_ACTIVITY and POSTS %}
							<dt>{{ lang('ACTIVE_IN_FORUM') }}{{ lang('COLON') }}</dt> <dd>{% if ACTIVE_FORUM != '' %}<strong><a href="{{ U_ACTIVE_FORUM }}">{{ ACTIVE_FORUM }}</a></strong><br />({{ ACTIVE_FORUM_POSTS }} / {{ ACTIVE_FORUM_PCT }}){% else %} - {% endif %}</dd>
							<dt>{{ lang('ACTIVE_IN_TOPIC') }}{{ lang('COLON') }}</dt> <dd>{% if ACTIVE_TOPIC != '' %}<strong><a href="{{ U_ACTIVE_TOPIC }}">{{ ACTIVE_TOPIC }}</a></strong><br />({{ ACTIVE_TOPIC_POSTS }} / {{ ACTIVE_TOPIC_PCT }}){% else %} - {% endif %}</dd>
						{% endif %}
						{% EVENT memberlist_view_user_statistics_after %}
					</dl>	
				</div>
				{% if SIGNATURE %}
				<div class="panel">
					<dl class="signature">
						<h3>{{ lang('SIGNATURE') }}</h3>
						<div class="postbody"><div class="signature standalone">{{ SIGNATURE }}</div></div>
					</dl>
				</div>
				{% endif %}
			</div>
		</div>{% if PG_SOCIAL_SIDEBAR_RIGHT %}<div id="pg_social_sider">
			<div class="panel ads">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- PGreca Social - Sidebar -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-6181929637339131"
					 data-ad-slot="8919244494"
					 data-ad-format="auto"
					 data-full-width-responsive="true"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>{% endif %}
	</div>
</div>