{% INCLUDE 'overall_header.html' %}
<div id="pg_social" class="pg_social_pageactivity">
	<div id="pg_social_sidel">
		<!-- EVENT pgreca_pgsocial_sidel -->
		<div class="panel">
			<ul id="profile_menu">
				{% if PROFILE_AVATAR %}<li class="profile_avatar">{{ PROFILE_AVATAR }}</li>{% endif %}
				<li class="memberlist-title"><h2{% if PROFILE_COLOUR %} style="color: {{ PROFILE_COLOUR }};"{% endif %}>{{ PROFILE_USERNAME }}</h2></li>
				<li class="profile-profile_link"><a href="{{ PROFILE_URL }}"><i class="icon fa fa-user fa-fw" aria-hidden="true"></i> {{ lang('READ_PROFILE') }}</a></li>
				<li class="profile-profile-friends"><a href=" {{ PROFILE_URL }}#friends"><i class="icon fa fa-handshake-o fa-fw" aria-hidden="true"></i> {{ lang('FRIEND', 2) }}</a></li>
				<li class="profile-profile-gallery"><a href=" {{ PROFILE_URL }}#gallery"><i class="icon fa fa-camera fa-fw" aria-hidden="true"></i> {{ lang('GALLER') }}</a></li>
				{% if PROFILE_EDIT %}<li class="profile-profile_edit"><a href="{{ PROFILE_EDIT }}"><i class="icon fa fa-cog fa-fw" aria-hidden="true"></i> {{ lang('EDIT_PROFILE') }}</a></li>{% endif %}
				<li class="profile-profile_pages"><a href="{{ PAGES_URL }}"><i class="icon fa fa-book fa-fw" aria-hidden="true"></i> {{ lang('PAGES') }}</a></li>
				{% if PROFILE_QUOTE %}<li class="profile_quote"><blockquote id="profile_quote" style="padding: 5px;">{{ PROFILE_QUOTE }}</blockquote></li>{% endif %}
				<li class="profile_rank">
					{% if PROFILE_RANK_IMG %}{{ PROFILE_RANK_IMG }}<br />{% endif %}
					{% if PROFILE_RANK %}{{ PROFILE_RANK }}{% endif %}
				</li>
			</ul>
		</div>
		{% if loops.pagesMaylike %}
		<div class="panel">
			<h3>{{ lang('PAGE_MAY_LIKE') }}</h3>
			<ul id="pages_mayLike" class="sidelist">
				{% for pagesMaylike in loops.pagesMaylike %}<li class="listElement" id="page_{{ pagesMaylike.PAGE_ID }}" data-page="{{ pagesMaylike.PAGE_ID }}">
					<div class="elementLeft">
						<a href="{{ pagesMaylike.PROFILE_URL }}" class="avatar">
							{{ pagesMaylike.AVATAR }}<div class="listUsername">
								<span>{{ pagesMaylike.USERNAME }}</span>
							</div>
						</a>{% if pagesMaylike.PAGE_ACTION %}<div class="listElementaction">
						</div>{% endif %}
					</div>
				</li>{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div><div id="pg_social_sidec"{% if not PG_SOCIAL_SIDEBAR_RIGHT %} style="width:80%;"{% endif %}>
		<div id="pg_social_cont">
			{% INCLUDE 'activity_form.html' %}
			<ul id="posts_status" class="masonry">
				{% INCLUDE 'activity_status.html' %}
			</ul>
			<div id="load_more"></div>
		</div>
	</div>{% if PG_SOCIAL_SIDEBAR_RIGHT %}<div id="pg_social_sider">
		{% if PG_SOCIAL_SIDEBAR_RIGHT_FRIENDSRANDOM and loops.profileFriends %}
		<div class="panel" id="profile_FriendsRandom">
			<h3>{{ lang('FRIENDS_SUGGESTION') }}</h3>
			<ul id="friends_suggestions" class="sidelist">
				{% for profileFriends in loops.profileFriends %}
				<li class="friend listElement" id="friend_{{ profileFriends.PROFILE_ID }}" data-friend="{{ profileFriends.PROFILE_ID }}">
					<div class="elementLeft">
						<a href="{{ profileFriends.PROFILE_URL }}" class="avatar"{% if profileFriends.PROFILE_COLOUR %} style="color:{{ profileFriends.PROFILE_COLOUR }}"{% endif %}>
							{{ profileFriends.AVATAR }}<div class="listUsername">
								<span>{{ profileFriends.USERNAME }}</span>
							</div>
						</a>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% if loops.friend_birthday %}
		<div class="panel" id="sid_birthday">
			<h3>{{ lang('BIRTHDAYS') }}</h3>
			<ul>
				{% for friend_birthday in loops.friend_birthday %}
				<li class="birthday">
					<a href="{friend_birthday.PROFILE}">{{ friend_birthday.AVATAR }}</a>
					{friend_birthday.USERNAME} {% if friend_birthday.AGE %}(<b>{friend_birthday.AGE}</b>){% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% EVENT pgreca_pgsocial_activitybody_sider %}
		{% if loops.activity_feed %}<div id="pgsocialSid_feed" class="panel">
			<h3>{{ lang('ACTIVITY_FEED') }}</h3>
			<ul class="sidelist">
				{% for activity_feed in loops.activity_feed %}<li class="listElement listFeed">
					<div class="elementLeft">
						<a href="{{ activity_feed.AUTHOR_PROFILE }}" class="avatar">
							{{ activity_feed.AUTHOR_AVATAR }} {% if activity_feed.AUTHOR_USERNAME %}<span>{{ activity_feed.AUTHOR_USERNAME }}</span>{% endif %}
						</a> {{ activity_feed.ACTION }}
						<span class="activity_time">{{ activity_feed.TIME }}</span>
					</div>
					
				</li>{% endfor %}
			</ul>
		</div>{% endif %}
		{% if PG_SOCIAL_SIDEBAR_RIGHT_LAST_POST %}
		<div class="panel" id="sid_last_topics">
			<h3>{{ lang('RECENT_DISCUSSIONS') }}</h3>
			<ul>
				{% for last_topics in loops.last_topics %}
					<li class="posts">
						<a href="{{ last_topics.POST_LINK }}" class="post_topic">
							{{ last_topics.TOPIC_TITLE }}
						</a>
						su <a href="{{ last_topics.TOPIC_FORUM_LINK }}">{{ last_topics.TOPIC_FORUM }}</a> - <span class="posts_time">{{ last_topics.POST_TIME }}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>{% endif %}
</div>{% INCLUDE 'overall_footer.html' %}
