{% for post_status in loops.post_status %}
<li class="post_status" id="post_status_{{ post_status.POST_STATUS_ID }}" data-lastp="{{ post_status.POST_STATUS_ID }}">
	<div class="status_inner">
		<!-- EVENT pgreca_pgsocial_poststatus -->
		{% if post_status.AUTHOR_USERNAME %}
		<div class="post_status_head">
			<div class="post_status_head_author_avatar">
				{{ post_status.AUTHOR_AVATAR }}
			</div><div class="post_status_head_author">
				<h4 class="post_status_head_author_username"><a href="{{ post_status.AUTHOR_PROFILE }}"{% if post_status.AUTHOR_COLOUR %} style="color: {{ post_status.AUTHOR_COLOUR }};"{% endif %}>{{ post_status.AUTHOR_USERNAME }}</a>{% if post_status.WALL_ACTION %} {{ post_status.WALL_ACTION }} <a href="{{ post_status.WALL_PROFILE }}"{% if post_status.WALL_COLOUR %} style="color: {{ post_status.WALL_COLOUR }};"{% endif %}>{{ post_status.WALL_USERNAME }}</a>{% endif %}{% if post_status.AUTHOR_ACTION %} <span class="post_status_head_author_action">{{ post_status.AUTHOR_ACTION }}</span>{% endif %}</h4>
				<div class="post_status_privacy gallery_covhovEl"><i class="fa fa-eye" aria-hidden="true"></i>{% if S_USER_LOGGED_IN and post_status.ACTION %}<div class="post_status_privacy_box">{{ lang('PRIVACY_VISIBLE_FOR') }}{{ lang('COLON') }} <select data-type="status" class="post_status_privacy_set" {% if not post_status.POST_PRIVACYACTION %}disabled{% endif %}>
					<option value="0"{% if post_status.POST_PRIVACY == 0 %} selected{% endif %}>{{ lang('PRIVACY_ONLY_ME') }}</option>
					<option value="1"{% if post_status.POST_PRIVACY == 1 %} selected{% endif %}>{{ lang('PRIVACY_ONLY_FRIENDS') }}</option>
					<option value="2"{% if post_status.POST_PRIVACY == 2 %} selected{% endif %}>{{ lang('PRIVACY_ALL') }}</option>
				</select></div>{% endif %}</div><a id="post_status_head_link" href="{{ post_status.POST_URL }}"><div class="post_status_head_date"{% if not post_status.POST_DATE_AGO %} title="{{ post_status.POST_DATE }}"{% endif %}>{{ post_status.POST_DATE_AGO }}</div></a>
			</div>{% if S_USER_LOGGED_IN and (post_status.ACTION || post_status.AUTH_MOD) %}<ul class="post_status_actionButton">
				<li class="quick-links dropdown-container dropdown-right responsive-menu" data-skip-responsive="true">
					<a class="dropdown-toggle">
						<i class="icon fa-bars fa-fw" aria-hidden="true"></i>
					</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
							{% if S_USER_LOGGED_IN and post_status.ACTION %}<li class="post_status_remove" data-option="REMOVE">
								<a>
									<i class="icon fa-minus-circle fa-fw" aria-hidden="true"></i> <span>{{ lang('PG_SOCIAL_STATUS_DELETE') }}</span>
								</a>
							</li>{% endif %}
							{% if post_status.AUTH_MOD %}<li class="post_status_remove" data-option="MOD">
								<a>
									<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i> <span>{{ lang('PG_SOCIAL_STATUS_WARN') }}</span>
								</a>
							</li>{% endif %}
						</ul>
					</div>
				</li>
			</ul>{% endif %}
		</div>
		{% endif %}
		<div class="post_status_content{{ post_status.MESSAGE_ALIGN }}">{{ post_status.MESSAGE }}</div>
		
		{% if post_status.AUTH_ACTION %}
		<div class="post_status_footer">
			<div class="poststatusLeft">
			<div class="post_status_like {% if post_status.IFLIKE %}active{% endif %}">
				<a class="liker"><i class="icon fa-heart fa-fw" aria-hidden="true"></i>{{ post_status.LIKE }}</a>
			</div>
			</div><div class="poststatusRight">
				<div class="post_status_comment">
					<a>{{ post_status.COMMENT }} <i class="icon fa fa-arrow-up" aria-hidden="true"></i><i class="icon fa fa-arrow-down" aria-hidden="true"></i></a>
				</div><div class="post_status_share" data-parent="{{ post_status.SHARE }}">
					<a class="sharer">{{ lang('SHARE') }}</a>
				</div>
			</div>
		</div>
		<ul class="post_status_comments">
			{% INCLUDE 'activity_comment.html' %}
		</ul>
		{% if S_USER_LOGGED_IN %}
		<form method="post" class="wall_comment">
			<input type="text" autocomplete="off" required name="wall_comment_text" class="wall_comment_text" placeholder="{{ lang('COMMENT_THIS_ACTIVITY') }}" />
			{{ S_HIDDEN_FIELDS }}
			{{ S_FORM_TOKEN }}
		</form>
		{% endif %}
		{% endif %}
	</div>
</li>
{% endfor %}
