{% for post_status in loops.post_status %}
<li class="post_status" id="post_status_{{ post_status.POST_STATUS_ID }}" data-lastp="{{ post_status.POST_STATUS_ID }}">
	{% if post_status.AUTHOR_USERNAME %}
	<div class="post_status_head">
		<div class="post_status_head_author_avatar">
			{{ post_status.AUTHOR_AVATAR }}
		</div><div class="post_status_head_author">
			<h4 class="post_status_head_author_username"><a href="{{ post_status.AUTHOR_PROFILE }}"{% if post_status.AUTHOR_COLOUR %} style="color: {{ post_status.AUTHOR_COLOUR }};"{% endif %}>{{ post_status.AUTHOR_USERNAME }}</a>{% if post_status.WALL_ACTION %} {{ post_status.WALL_ACTION }} <a href="{{ post_status.WALL_PROFILE }}"{% if post_status.WALL_COLOUR %} style="color: {{ post_status.WALL_COLOUR }};"{% endif %}>{{ post_status.WALL_USERNAME }}</a>{% endif %}{% if post_status.AUTHOR_ACTION %} <span class="post_status_head_author_action">{{ post_status.AUTHOR_ACTION }}</span>{% endif %}</h4>
			<a id="post_status_head_link" href="{{ post_status.POST_URL }}"><div class="post_status_head_date"{% if not post_status.POST_DATE_AGO %} title="{{ post_status.POST_DATE }}"{% endif %}>{{ post_status.POST_DATE_AGO }}</div></a>
		</div><a class="post_status_actionButton"><i class="fa fa-bars" aria-hidden="true"></i>{% if S_USER_LOGGED_IN and post_status.ACTION %}<div class="post_status_action dropdown">
			<div class="post_status_privacy"><i class="fa fa-eye" aria-hidden="true"></i> {{ lang('PRIVACY_VISIBLE_FOR') }}{{ lang('COLON') }} <span>{{ post_status.POST_PRIVACY }}</span></div><br />
			<div class="post_status_remove"><i class="icon fa-minus-circle fa-fw" aria-hidden="true"></i> <span>{{ lang('PG_SOCIAL_STATUS_DELETE') }}</div>
		</div>
		{% endif %}</a>
	</div>
	{% endif %}
	<div class="post_status_content{{ post_status.MESSAGE_ALIGN }}">{{ post_status.MESSAGE }}</div>
	<div class="post_status_footer">
		<div class="post_status_like {% if post_status.IFLIKE %}active{% endif %}">
			<a><i class="icon fa-heart fa-fw" aria-hidden="true"></i>{{ post_status.LIKE }}</a>
		</div><div class="post_status_comment">
			<a><i class="icon fa-comments fa-fw" aria-hidden="true"></i>{{ post_status.COMMENT }}</a>
		</div><div class="post_status_share" data-parent="{{ post_status.SHARE }}">
			<a><i class="icon fa-share fa-fw" aria-hidden="true"></i>{{ lang('SHARE') }}</a>
		</div>
	</div>
	<ul class="post_status_comments active">
		{% INCLUDE 'activity_comment.html' %}
	</ul>
	{% if S_USER_LOGGED_IN %}
	<form method="post" class="wall_comment">
		{CURRENT_USER_AVATAR}<input type="text" autocomplete="off" required name="wall_comment_text" class="wall_comment_text" placeholder="{{ lang('COMMENT_THIS_ACTIVITY') }}" />
		{{ S_HIDDEN_FIELDS }}
		{{ S_FORM_TOKEN }}
	</form>
	{% endif %}
</li>
{% endfor %}
