{% INCLUDE 'mcp_header.html' %}
<form id="mcp" method="post" action="{{ S_MCP_ACTION }}"{{ S_FORM_ENCTYPE }}>
{% if MCP_PG_SOCIAL_PAGE == 'page_manage' %}
	<h2>{{ lang('MCP_PG_SOCIAL_PAGE_MANAGE') }}</h2>
	<div class="panel">
		<div class="inner">	
			<h3>{{ lang('MCP_PG_SOCIAL_PAGES_AWAITING') }}</h3>
			{% if PAGE_MANAGE_ACTION %}
			{% if loops.pages|length %}
			<table class="table1 responsive">
				<thead>
					<tr>
						<th class="name">{{ lang('PAGE_USERNAME') }}</th>
						<th class="name">{{ lang('USERNAME') }}</th>
						<th class="center">{{ lang('TIME') }}</th>
						<th class="center">{{ lang('APPROVE_PAGE') }}</th>
					</tr>
				</thead>
				<tbody>
				{% for pages in loops.pages %}
					<tr class="bg1">
						<td>{{ pages.PAGE_USERNAME }}</td>
						<td><a href="{{ pages.PAGE_FOUNDERL }}">{{ pages.PAGE_FOUNDER }}</a></td>
						<td class="center">{{ pages.PAGE_REGDATA }}</td>
						<td style="width: 5%" align="center"><input type="checkbox" name="page_selected[]" value="{{ pages.PAGE_ID }}" /></td>
					</tr>	
				{% endfor %}
				</tbody>
			</table>
			{% else %}
			{{ lang('MCP_PG_SOCIAL_PAGE_NOAPPROVE') }}
			{% endif %}
			{% else %}
			{{ lang('MCP_NO_MANAGE') }} 
			{% endif %}
			{% if PG_SOCIAL_MCP_SUBMIT %}
			<fieldset class="submit-buttons">
				{{ S_FORM_TOKEN }}
				<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button2" />&nbsp;<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
			</fieldset>
			{% endif %}
		</div>
	</div>
{% endif %}
</form>
{% INCLUDE 'mcp_footer.html' %}