<!-- INCLUDE overall_header.html -->
<div id="pg_social" class="pg_social_pagepage">
<!-- BEGIN page -->
	<div id="pg_social_header" style="background-image:url({page.PAGE_COVER}); background-position: left {PAGE_COVER_POSITION}px;">
		
	</div><div id="pg_social_main">
		<div class="profile_avatar">{page.PAGE_AVATAR}</div>			
		<h2 class="memberlist-username">{page.PAGE_USERNAME}</h2>
		<ul id="pg_social_menu"><li data-social_menu="activity"><a href="#activity"><i class="icon fa-user fa-fw" aria-hidden="true"></i> {L_ACTIVITY}</a></li><!--<li data-social_menu="friends"><a href="#friends"><i class="icon fa-users fa-fw" aria-hidden="true"></i> {L_LIKES} <span>({page.PAGE_COUNT_FOLLOWER})</span></a></li><li data-social_menu="gallery"><a href="#gallery"><i class="icon fa-camera fa-fw" aria-hidden="true"></i> {L_GALLERY}</a></li><li data-social_menu="info"><a href="#info"><i class="icon fa-info fa-fw" aria-hidden="true"></i> {L_INFO}</a></li>--></ul>
		<div id="pg_social_sidel">
		
		</div><div id="pg_social_cont"<!-- IF not PG_SOCIAL_SIDEBAR_RIGHT --> style="width:calc(80% - 20px);"<!-- ENDIF -->>
			<div class="pg_social_pagesub" id="page_activity">
				<!-- IF page.PAGE_STATUS_ACTION -->
				<form method="post" id="wall_post">
					<div class="wall_post_area">
						<div required name="wall_post_text" id="wall_post_text" placeholder="{L_WRITE_SOMETHING}..." contenteditable="true"></div>
					</div>
					<div class="wall_post_option">
						<label id="pg_social_wall_post_img">{L_ATTACH_PICTURE}<input name="wall_post_img" id="wall_post_img" type="file" accept="image/*" /></label>
						<input name="submit" type="submit" value="{L_PUBLIC}" />
					</div>
					<div id="wall_post_thumb"><img id="wall_post_thumb_img" src="" /></div>
					{S_HIDDEN_FIELDS}
					{S_FORM_TOKEN}
				</form>
				<!-- ENDIF -->		
				<ul id="posts_status">
					<!-- INCLUDE activity_status.html -->
				</ul>
				<div id="load_more"></div>
			</div>
		</div><!-- IF PG_SOCIAL_SIDEBAR_RIGHT --><div id="pg_social_sider">
			<div class="panel">
				<script type="text/javascript">
					/* <![CDATA[ */
					document.write('<s'+'cript type="text/javascript" src="//ad.altervista.org/js2.ad/size=125X125/?ref='+encodeURIComponent(location.hostname+location.pathname)+'&r='+new Date().getTime()+'"></s'+'cript>');
					/* ]]> */
				</script>
			</div>
		</div><!-- ENDIF -->	
	</div>
<!-- BEGINELSE -->
<a id="page_new_form_open">Crea una nuova pagina</a>
<form id="page_new_form">
	<label for="page_new_name"><span>Nome Pagina</span>{L_COLON} <input type="text" name="page_new_name" />
	</label>
	<input type="submit" name="page_new_submit" />
</form>
IN SVILUPPO
<!-- END page -->
</div>
<!-- INCLUDE overall_footer.html -->