{% if S_PG_SOCIAL_ENABLED %}
<script type="text/javascript">
	var profile_id = '{% if PROFILE_ID %}{{ PROFILE_ID }}{% else %}{{ PROFILE }}{% endif %}';
	var root = '{{ ACTIVITY_PAGE }}';
	var useLang = {ARE_YOU_SURE: "{{ lang('ARE_YOU_SURE') }}", ARE_YOU_SURE_PHOTO: "{{ lang('ARE_YOU_SURE_PHOTO') }}", DO_YOU_WANT_SHARE: "{{ lang('DO_YOU_WANT_SHARE') }}"};

	var where = '{{ STATUS_WHERE }}';
{% if (PROFILE_ID || PROFILE) and ACTIVITY_PAGE %}
{% if PG_SOCIAL_PROFILE %}
	if ($("#viewprofile").length) {
		$("#viewprofile, h2.memberlist-title").hide().remove();
	}
{% endif %}
	setInterval(function() {
		timeago();
		if ($("#pg_social_containerL").length > 0) {
			$("ul#posts_status").css("height", $("#pg_social_containerL").height());
			$("#pg_social_containerR").css("height", $("#pg_social_containerL").height());
		}
	}, 990);
{% if S_PG_SOCIAL_ENABLED and S_USER_LOGGED_IN %}
	pgwall_get_status('seguel', where);
	var pgsocial = setInterval(function() {
		pgwall_get_status('seguel', where);
	}, 2000);
{% endif %}
	
	function timeago(time) {
		if ($(".post_status_head_date, .post_comment_time, span.pg_social_chat_message_time").length) {
			var date = $(".post_status_head_date, .post_comment_time, span.pg_social_chat_message_time").attr('title');
			var periods = [
				"{{ lang('WALL_TIME_PERIODS', 1)|e('js') }} {{ lang('AGO', 1)|e('js') }}",
				"{{ lang('WALL_TIME_PERIODS', 2)|e('js') }} {{ lang('AGO', 1)|e('js') }}"
			];
			var lengths = [
				"60",
				"60"
			];
			var to = Math.round(new Date() / 1000);

			let difference, tense;

			if (to > date) {
				difference = to - date;
				tense = 'WALL_TIME_AGO';
			} else {
				difference = date - to;
				tense = 'WALL_TIME_FROM_NOW';
			}

			for(var j = 0; difference >= lengths[j] && j < lengths.length - 1; j++)
			{
				difference /= lengths[j];
			}

			difference = Math.round(difference);
			period = periods[j];

			if ((to - date) < (3600 / (60 + (60 / 2))))
			{
				$('.post_status_head_date[title="'+date+'"], .post_comment_time[title="'+date+'"], span.pg_social_chat_message_time[title="'+date+'"]').html(difference+' '+period);
			}
		}
	}
{% endif %}
</script>
{% endif %}