{% for social_photo in loops.social_photo %}
<div id="pg_social_photo_img" data-photo="{{ social_photo.PHOTO_ID }}">
	<img src="{{ social_photo.PHOTO_FILE }}" />
	<div class="pg_social_photo_side">
		{% if social_photo.PRE %}<span id="pg_social_photo_sidePre">
			<i class="icon fa fa-arrow-left"></i>
		</span>{% endif %}
		{% if social_photo.NEX %}<span id="pg_social_photo_sideNex">
			<i class="icon fa fa-arrow-right"></i>
		</span>{% endif %}
		<div id="pg_social_photo_img_header">
			<h5 id="pg_social_photo_name_album"><a href="{{ social_photo.GALLERY_URL }}">{{ social_photo.PHOTO_ALBUM }}</a></h5>
		</div>
		<ul id="pg_social_photo_img_footer">
			<li id="pg_social_photo_img_close">
				<i class="icon fa fa-times" aria-hidden="true"></i>
			</li>
			<li id="pg_social_photo_img_option">
				<span>{{ lang('OPTIONS') }}</span><i class="icon fa fa-bars" aria-hidden="true"></i>
				<ul id="pg_social_photo_img_options">
					{% if social_photo.PHOTO_ACTION %}<li class="photo_remove" data-option="REMOVE">
						<a>{{ lang('PHOTO_DELETE') }}</a>
					</li>{% endif %}
					{% if social_photo.AUTH_MOD %}<li class="photo_remove" data-option="MOD">
						<a>
							<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i> <span>{{ lang('PG_SOCIAL_STATUS_WARN') }}
						</a>
					</li>{% endif %}
				</ul>
			</li>
		</ul>
	</div>
</div><div id="pg_social_photo_social">
	{{ social_photo.AUTHOR_AVATAR }}
	<div id="pg_social_photo_info">
		<a href="{{ social_photo.AUTHOR_PROFILE }}" class="author_profile"{% if social_photo.AUTHOR_COLOUR %} style="color: {{ social_photo.AUTHOR_COLOUR }}"{% endif%}>{{ social_photo.AUTHOR_USERNAME }}</a>
		<span class="photo_time">{{ social_photo.PHOTO_TIME }}</span>
	</div><p class="photo_desc">{{ social_photo.PHOTO_DESC }}</p>
		{% if social_photo.AUTH_ACTION %}<div class="pg_social_photo_likshare" data-post="{{ social_photo.POST_ID }}">
		<div class="post_status_like {% if social_photo.IFLIKE != 0 %}active{% endif %}">
			<a><i class="icon fa-heart fa-fw" aria-hidden="true"></i>{{ social_photo.LIKE }}</a>
		</div>
		<div class="social_photo_comment">
			<a><i class="icon fa-comments fa-fw" aria-hidden="true"></i>{{ social_photo.COMMENT }}</a>
		</div>
	</div><div id="pg_social_photo_comment">
		<ul class="pg_social_photo_comments" id="pg_social_photo_comments_{{ social_photo.POST_ID }}" data-post="{{ social_photo.POST_ID }}">
			{% INCLUDE 'activity_comment.html' %}
		</ul>
		<form method="post" class="pg_social_photo_comment_form">
			{{ CURRENT_USER_AVATAR }}<input type="text" required name="pg_social_photo_comment_text" class="pg_social_photo_comment_text" placeholder="{{ lang('COMMENT_THIS_ACTIVITY') }}" />
			{{ S_HIDDEN_FIELDS }}
			{{ S_FORM_TOKEN }}
		</form>
	</div>{% endif %}
</div>
{% endfor %}
