{% for profileFriends in loops.profileFriends %}
<li class="friend" id="friend_{{ profileFriends.PROFILE_ID }}" data-friend="{{ profileFriends.PROFILE_ID }}">
	<a class="friend_avatar" href="{{ profileFriends.PROFILE_URL }}">
		{{ profileFriends.AVATAR }}
	</a><div class="friend_username">
		<a href="{{ profileFriends.PROFILE_URL }}" style="color:{{ profileFriends.PROFILE_COLOUR }}">
			<span>{{ profileFriends.USERNAME }}</span>
		</a>{% if profileFriends.PROFILE_FRIEND_ACTION %}<div class="friend_action">
			{% if profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS' %}
			<a>{{ lang('PG_SOCIAL_FRIENDS') }}</a>
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=request_friend&profile_id={{ profileFriends.PROFILE_ID }}&request=cancelFriend" id="profile_friend_cancel" data-ajax="request_friend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_REMOVE') }}</a>
			{% elseif profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_ADD' %}
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=request_friend&profile_id={{ profileFriends.PROFILE_ID }}&request=addFriend" id="profile_friend_add" data-ajax="request_friend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_ADD') }}</a>
			{% elseif profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_CANCEL_REQ' %}
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=request_friend&profile_id={{ profileFriends.PROFILE_ID }}&request=undoFriend" id="profile_friend_undo" data-ajax="request_friend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_CANCEL_REQ') }}</a>
			{% elseif profileFriends.PROFILE_FRIEND_ACTION == 'PG_SOCIAL_FRIENDS_ACCEPT_REQ'	%}
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=request_friend&profile_id={{ profileFriends.PROFILE_ID }}&request=acceptFriend" id="profile_friend_accept" data-ajax="request_friend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_ACCEPT_REQ') }}</a>	
			<a href="{{ SOCIAL_PROFILE_PATH }}?mode=request_friend&profile_id={{ profileFriends.PROFILE_ID }}&request=declineFriend" id="profile_friend_declide" data-ajax="request_friend" data-refresh="true">{{ lang('PG_SOCIAL_FRIENDS_DECLINE_REQ') }}</a>					
			{% endif %}
		</div>
		{% endif %}
	</div>
</li>
{% endfor %}