<!-- BEGIN pg_social_chat_message -->
<li class="pg_social_chat_message <!-- IF pg_social_chat_message.IFRIGHT -->right<!-- ELSE -->left<!-- ENDIF -->" data-message="{pg_social_chat_message.MESSAGE_ID}">
	<div class="pg_social_chat_message_text">
		{pg_social_chat_message.MESSAGE}
	</div><span class="pg_social_chat_message_time">
		{pg_social_chat_message.TIME}
	</span>
<!-- IF pg_social_chat_message.SOUND -->
	<script>
		pg_social_chat_sound.play();
	</script>
<!-- ENDIF -->
</li>
<!-- END pg_social_chat_message -->