<div id="pg_social_chat">
	<audio id="pg_social_chat_sound" preload="auto">
		<source src="{ROOT_PATH}ext/pgreca/pg_social/styles/all/theme/sound/message.mp3"> </source>
	</audio>
	<div id="pg_social_chat_box" class="pg_social_chat">
		<div id="pg_social_chat_people">
			<ul id="pg_social_chat_people_online">
				<!-- INCLUDE pg_social_chatpeople.html -->
			</ul>
		</div>
		<div id="pg_social_chat_people_buttons">
			<div class="pg_social_chat_people_button" id="pg_social_chat_people_button_openclose"><i class="icon fa-users fa-fw" aria-hidden="true"></i></div><div class="pg_social_chat_people_button" id="pg_social_chat_people_button_search">
				<input type="text" name="pg_social_chat_people_search" id="pg_social_chat_people_search" placeholder="Cerca" />
			</div><a class="pg_social_chat_people_button" id="pg_social_chat_people_button_settings" href="{ROOT_PATH}ucp.php?i=-pgreca-pg_social-ucp-main_module&mode=chat">
			<i class="icon fa-cog fa-fw" aria-hidden="true"></i></a>
		</div>
	</div>
</div>