<script type="text/javascript">
	var site = {Name: $('title').text(), Url: $(location).attr('href')};
	var profile_id = '{% if PROFILE_ID %}{{ PROFILE_ID }}{% else %}{{ PROFILE }}{% endif %}';	
	var root = '{{ ACTIVITY_PAGE }}';
	var where = '{{ STATUS_WHERE }}';
	var useLang = {ARE_YOU_SURE: "{{ lang('ARE_YOU_SURE') }}", ARE_YOU_SURE_PHOTO: "{{ lang('ARE_YOU_SURE_PHOTO') }}", DO_YOU_WANT_SHARE: "{{ lang('DO_YOU_WANT_SHARE') }}"};
	{% if (PROFILE_ID || PROFILE) && ACTIVITY_PAGE %}
	setInterval(function() {
		timeago_new();
	}, 600);
{% if S_USER_LOGGED_IN %}
	if($("#posts_status").html() == "") pgwall_getStatus('seguel', where);
	var pgsocial = setInterval(function() {
		pgwall_getStatus('seguel', where);
	}, 2000);
	{% if PG_SOCIAL_PROFILE %}
	if($("#viewprofile").length) {
		$("#viewprofile, h2.memberlist-title").hide().remove();
	}
	{% endif %}
	if($(".forumlist").length) $("ul#posts_status").css("height", $(".forumlist").height());
	$("#wall_post").submit(function(e) {
		e.preventDefault();
		e.stopPropagation();
		if($('#wall_post_img').length && $('#wall_post_img').val() != "" && $("#wall_post").hasClass("openform")) {
			$("#wall_post").removeClass("openform");
			uploadPhoto($('#wall_post_text').html(), $('#wall_post_img')[0].files[0], "wall", where);
		} else {
			$("#wall_post").removeClass("openform");
			pgwall_addStatus($('#wall_post_text').html(), $('#wall_post_privacy option:selected').val());
		}
		
	});
	
	$(document).on('click', "#posts_status .post_status .post_status_footer .post_status_like a", function() {
		pgwall_likeAction($(this).parent().parent().parent().attr('data-lastp'));
	});
	
	$(document).on('keydown', '.pg_social_photo_comment_text', function(e) {
		if(e.keyCode == 13) {
			pgwall_addComment($(this).val(), $(this).parent().parent().find('.pg_social_photo_comments').attr('data-post'));
		}
	});
	
	$(document).on('keydown', '.wall_comment_text', function(e) {
		if(e.keyCode == 13) {
			pgwall_addComment($(this).val(), $(this).parent().parent().attr('data-lastp'));
		}
	});
	
	$(document).on('submit', '.wall_comment, .pg_social_photo_comment_form', function(e) {
		e.preventDefault();
		e.stopPropagation();
	});
	{% endif %}
{% endif %}	
	
	function timeago_new(time) {
		if($(".post_status_head_date, .post_comment_time, span.pg_social_chat_message_time").length) {
			var date = $(".post_status_head_date, .post_comment_time, span.pg_social_chat_message_time").attr('title');
			var periods = [
				"{{ lang('WALL_TIME_PERIODS', 1)|e('js') }}",
				"{{ lang('WALL_TIME_PERIODS', 2)|e('js') }}"
			];
			var lengths = [
				"60",
				"60"
			];
			var to = Math.round(new Date() / 1000);
			
			if(to > date)
			{
				var difference = to - date;
				var tense = 'WALL_TIME_AGO';
			}
			else
			{
				var difference = date - to;
				var tense = 'WALL_TIME_FROM_NOW';
			}
			for(var j = 0; difference >= lengths[j] && j < lengths.length - 1; j++)
			{
				difference /= lengths[j];
			}
			
			difference = Math.round(difference);
			period = periods[j];
			
			if((to - date) < (3600 / (60 + (60 / 2))))
			{
				$('.post_status_head_date[title="'+date+'"], .post_comment_time[title="'+date+'"], span.pg_social_chat_message_time[title="'+date+'"]').html(difference+' '+period);
			}
		}
	}	
</script>