{% INCLUDE 'ucp_header.html' %}
<form id="ucp" method="post" action="{{ S_UCP_ACTION }}"{{ S_FORM_ENCTYPE }}>
<h2>{{ lang('UCP_PROFILE_COVER') }}</h2>
<div class="panel">
	<div class="inner">
		<fieldset>
		{% if ERROR %}<p class="error">{{ ERROR }}</p>{% endif %}
			<dl>
				<dt><label>{{ lang('CURRENT_IMAGE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('COVER_EXPLAIN') }}</span></dt>
				<dd>{% if COVER %}{{ COVER }}{% else %}<img src="{{ T_THEME_PATH }}/images/no_cover.png" alt="" />{% endif %}</dd>
				<dd><label for="cover_delete"><input type="checkbox" name="cover_delete" id="cover_delete" /> {{ lang('COVER_DELETE') }}</label></dd>
			</dl>
		</fieldset>
		{% if not S_GROUP_MANAGE %}
		<fieldset class="submit-buttons">
			<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button2" /> &nbsp;
			<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
		</fieldset>
		{% endif %}
	</div>
</div>
{{ S_HIDDEN_FIELDS }}
{{ S_FORM_TOKEN }}
</form>
{% INCLUDE 'ucp_footer.html' %}
