<!-- BEGIN pg_social_chat_person -->
<div class="pg_social_chat opened" id="pg_social_chat_box_{pg_social_chat_person.PROFILE_ID}" data-people="{pg_social_chat_person.PROFILE_ID}">
	<div class="pg_social_chat_head">
		<div class="pg_social_chat_head_status {pg_social_chat_person.PROFILE_STATUS}_status status">
			<i class="icon fa-circle fa-fw" aria-hidden="true"></i>
		</div>
		<div class="pg_social_chat_head_username" style="color:{pg_social_chat_person.PROFILE_COLOUR};">{pg_social_chat_person.PROFILE_USERNAME}</div>
		<div class="pg_social_chat_head_minimize"><i class="icon fa-angle-down fa-fw chat_down" aria-hidden="true"></i><i class="icon fa-angle-up fa-fw chat_up" aria-hidden="true"></i></div>
	</div>
	<div class="pg_social_chat_profile">
		<a href="{pg_social_chat_person.PROFILE_URL}">{pg_social_chat_person.PROFILE_AVATAR}</a>
		<div class="pg_social_chat_profile_info">
			{pg_social_chat_person.PROFILE_INFO}
		</div>
	</div>
	<ul class="pg_social_chat_messages"></ul>
	<form class="pg_social_chat_form">
		<input type="text" name="pg_social_chat_messsage_new" autocomplete="off" class="pg_social_chat_messsage_new" placeholder="{L_WRITE_A_MESSAGE}..." />
		</div>
	</form>
</div>
<!-- END pg_social_chat_person -->