{% INCLUDE 'overall_header.html' %}
<div id="pg_social" class="pg_social_pageactivity">
	<div id="pg_social_cont" style="width:80%;">
		<ul id="posts_status">
			{% INCLUDE 'activity_status.html' %}
		</ul>
	</div>
	<div id="pg_social_sider">
		<div class="panel">
			<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
			<h3>Support PG SOCIAL NETWORK with a coffe on Ko-fi! ❤️</h3>
			<script type='text/javascript'>
				kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'A308YMA');kofiwidget2.draw();
			</script>
		</div>
</div>
{% INCLUDE 'overall_footer.html' %}